<footer>

    <div class="container">
        <div class="wrapper">
            <div class="footer">
                <div class="footer_row">
                    <div class="footer_row_col aboutcol">
                        <ul>
                            <li>
                                <img class="footer_logo" src="img/footer/logo-dark.svg" alt="">
                            </li>
                            <li>
                                Mursheed, səyahət etdiyiniz hər yerdə unudulmaz bir təcrübəyə sahib olmağınıza kömək edir.
                            </li>


                        </ul>
                    </div>
                    <div class="footer_row_col">
                        <ul>
                            <li>
                                <h6>Sayt xəritəsi</h6>
                            </li>
                            <li>
                                <a href="#">Ana Səhifə</a>
                            </li>
                            <li>
                                <a href="#">Haqqımızda</a>
                            </li>
                            <li>
                                <a href="#">Bələdçilər & Sürücülər</a>
                            </li>
                            <li>
                                <a href="#">Məskən</a>
                            </li>
                            <li>
                                <a href="#">Uçuş Rezervasiyası</a>
                            </li>
                            <li>
                                <a href="#">Cəlbedici Yerlər</a>
                            </li>
                            <li>
                                <a href="#">Təkliflər</a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer_row_col">
                        <ul>
                            <li>
                                <h6>Daha çox</h6>
                            </li>
                            <li>
                                <a href="#">Şərtlər & qaydalar</a>
                            </li>
                            <li>
                                <a href="#"> Gizlilik şərtləri</a>
                            </li>
                            <li>
                                <a href="#">Cookies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_row_col">
                        <ul>
                            <li>
                                <h6>Bizimlə Əlaqə</h6>
                            </li>
                            <li>
                                <a href="#">info@mursheed.com</a>
                            </li>
                            <li>
                                <a href="#">+994 50 808 08 01</a>
                            </li>
                            <li>
                                <form action="#">
                                    <label>
                                       Abonə Ol
                                      <div class="send">
                                        <input type="text"><button><img src="img/footer/send.svg" alt=""></button>
                                      </div>
                                   </label>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer_social_row">
                    <ul>
                        <li>
                            <h5>Bizi izlə:</h5>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>