<div class="topNav">
    <div class="container">
        <div class="topnavcontainer">
            <div class="firstcontainer">
                <div class="currency">
                    <form>
                        <select>
                        <option class="optioncurrency">USD</option>
                        <option class="optioncurrency">AZN</option>
                            </select>
                    </form>
                </div>
                <div class="language">
                    <form>
                        <select>
                        <option class="optionlang">Azerbaijan</option>
                        <option class="optionlang">English</option>
                    </select>
                    </form>
                </div>
            </div>
            <div class="secondcontainer">
                <div class="support">
                    <a class="supportItem" href="support.html">Dəstək</a>
                    <a class="supportItem" href="contact.html">Bizimlə Əlaqə</a>
                </div>
                <div id="dropLogBtn" class="profile" style="background-image: url(img/profile/user.jpg)">
                    <div id="loggedid">
                        <a class="loggediditem" href="#">Daxil ol</a>
                        <a class="loggediditem" href="register_chosing.html">Qeydiyyat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- center nav  -->

<div class="centerNav">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="../img/header/logo.svg" alt="">
            </a>
        </div>
        <div class="rightContent">
            <div class="currency">
                <span class="currencyText">Currency</span>
                <form>
                    <div class="custom-selectbox">
                        <select>
                                    <option value="0">USD</option>
                                   <option value="1">EURO</option>
                                    <option value="2">TRY</option>
                                </select>
                    </div>
                </form>
            </div>
            <div class="language">
                <span class="langText">Language</span>
                <form>
                    <div class="custom-selectbox">
                        <select>
                                    <option value="0">English</option>
                                   <option value="1">Turkey</option>
                                    <option value="2">Germany</option>
                                    <option value="3">France</option>
                                </select>
                    </div>
                </form>
            </div>
            <div class="loginbuttons">
                <a href='login.html' class="loginbtn btn">Daxil Ol</button>
                    <a href="register.html" class="registerbtn btn">Qeydiyyat</a>
            </div>
            <div id="hamburger" class="barIcon">
                <p class="line"></p>
                <p class="line"></p>
                <p class="line"></p>
            </div>
        </div>

    </div>
    <div id="openmenu" class="container menucontainer">
        <div class="openmenu">
            <a class="openmenu_item" href="#">Ana səhifə</a>
            <a class="openmenu_item" href="about.html"> Haqqımızda</a>
            <a class="openmenu_item" href="guide_and_drivers.html"> Sürücülər & Bələdçilər</a>
            <a class="openmenu_item" href="accomadation.html"> Məskən</a>
            <a class="openmenu_item" href="flight.html">Uçuş Rezervasiyası</a>
            <a class="openmenu_item" href="attractive_locations.html"> Cəlbedici Yerlər</a>
            <a class="openmenu_item" href="offers.html">  Təkliflər</a>
            <a class="openmenu_item" href="#">Dəstək</a>
            <a class="openmenu_item" href="contact.html">Bizimlə Əlaqə</a>
        </div>
    </div>
</div>


<!-- Bottom nav  -->
<div class="bottomNav">
    <div class="container">
        <div class="navcontainer">
            <a class="bottomnav_item active" href="#">Ana səhifə</a>
            <a class="bottomnav_item " href="about.html">Haqqımızda</a>
            <a class="bottomnav_item " href="guide_and_drivers.html">Sürücülər & Bələdçilər</a>
            <a class="bottomnav_item " href="accomadation.html">Məskən</a>
            <a class="bottomnav_item " href="flight.html">Uçuş Rezervasiyası</a>
            <a class="bottomnav_item " href="attractive_locations.html">Cəlbedici Yerlər</a>
            <a class="bottomnav_item " href="offers.html">Təkliflər</a>
        </div>
    </div>
</div>