#swiper_popular_attractions_locations {
  text-align: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top a {
  color: black;
  text-decoration: none;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center {
  width: 90%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_popular_attractions_locations h6 {
    font-size: 18px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-next {
    right: -15px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-prev {
    left: -15px !important;
  }
}
/*# sourceMappingURL=atractive_places.css.map */