$main-color:#0b8071;
$bg-color: #f7f7f7;
#guideregForm {
    background-color: #ffffff;
    margin: 50px auto;
    font-family: Raleway;
    padding: 40px;
    width: 40%;
    min-width: 300px;
    background-color: $bg-color;
    select {
        width: 100%;
    }
    .multiple {
        width: 95%;
    }
    .tourist_reg_head {
        text-align: center;
        font-size: 2em;
        color: black;
        font-weight: bold;
    }
    input {
        width: 95%;
        font-size: 17px;
    }
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
        background-color: #ffdddd;
    }
    /* Hide all steps by default: */
    .tab {
        display: none;
        p {
            margin-bottom: 5px;
            color: black;
        }
    }
    button {
        background-color: $main-color;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
        border-radius: 10px;
    }
    button:hover {
        opacity: 0.8;
    }
    #prevBtn {
        background-color: #bbbbbb;
    }
    /* Make circles that indicate the steps of the form: */
    .step {
        width: 43%;
        background-color: #81c5bc;
        border: none;
        border-radius: px;
        display: inline-block;
        opacity: 0.5;
        margin-bottom: 30px;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle !important;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
    }
    .num {
        display: inline-block;
        padding: 5.1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: $main-color;
        position: relative;
        top: -13px;
        color: white;
        width: 20px;
        position: relative;
        z-index: 123;
        left: 7px;
    }
    .step.active {
        opacity: 1;
        color: white;
        background-color: $main-color !important;
    }
    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: $main-color;
    }
    .nexprevbtncover {
        overflow: auto;
    }
    .nexprevbtn {
        float: right;
    }
    .register_select {
        width: 100% !important;
    }
}

@media(max-width:932px) {
    #touristregForm {
        .step {
            width: 80%;
        }
    }
}