@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url(c:\Users\Simuratli\Desktop\mursheed\fonts\averta\stylesheet.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\style\reset.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\libs\swiper\swiper.css);
.bigslider {
  width: 100%;
  height: 100%;
}

.bigslider .swiper-button-next {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  right: 50px;
}

.bigslider .swiper-button-next::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.bigslider .swiper-button-prev {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  left: 50px;
}

.bigslider .swiper-button-prev::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide .bigsliderImg {
  width: 100%;
  height: 500px;
}

.swiper-slide .bigsliderImg img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide .bigsliderTitle {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-slide .bigsliderTitle p {
  margin-left: 3em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.bigslider .swiper-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}

.startYourJourney {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.startYourJourney .journeyHead {
  text-align: center;
  width: 100%;
}

.startYourJourney .journeyHead h1 {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.startYourJourney .journeyBottom {
  width: 100%;
}

.startYourJourney .journeyBottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startYourJourney .journeyBottom ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-left: 10px;
}

.startYourJourney .journeyBottom ul li input {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
}

.startYourJourney .journeyBottom ul li button {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
  background-color: #0b8071;
  color: white;
}

.startYourJourney .journeyBottom ul li input[type=date] {
  padding: 8px !important;
}

.startYourJourney .journeyBottom ul li select {
  width: 200px !important;
  border: 1px solid #0b8071 !important;
  border-radius: 5px;
  padding: 10px !important;
}

@media (max-width: 900px) {
  .startYourJourney {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .startYourJourney .journeyHead {
    text-align: center;
    width: 100%;
  }
  .startYourJourney .journeyBottom {
    width: 100%;
  }
  .startYourJourney .journeyBottom ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startYourJourney .journeyBottom ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .startYourJourney .journeyBottom ul li input {
    width: 230px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
  }
  .startYourJourney .journeyBottom ul li button {
    width: 250px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
    background-color: #0b8071;
    color: white;
  }
  .startYourJourney .journeyBottom ul li input[type=date] {
    padding: 8px !important;
  }
  .startYourJourney .journeyBottom ul li select {
    width: 250px !important;
    border: 1px solid #0b8071 !important;
    border-radius: 5px;
    padding: 10px !important;
  }
}

.journey {
  padding-top: 30px;
  padding-bottom: 30px;
}

.whyMursheed {
  padding: 3em;
}

.whyMursheed .murseedContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.whyMursheed .murseedContainer_item {
  text-align: center;
  padding: 20px;
  border: 1px solid #fff;
}

.whyMursheed .murseedContainer_item img {
  margin-bottom: 10px;
}

#swiper_most_popular_drivers {
  text-align: center;
  margin: 30px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center {
  width: 90%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a:hover {
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .unavailable {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #ac1b1b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .available {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #38b77b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_most_popular_drivers h6 {
    font-size: 18px !important;
  }
  #swiper_most_popular_drivers .swiper-button-next {
    right: -15px !important;
  }
  #swiper_most_popular_drivers .swiper-button-prev {
    left: -15px !important;
  }
}

#swiper_popular_attractions_locations {
  text-align: center;
  margin: 30px 0px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top a {
  color: black;
  text-decoration: none;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center {
  width: 90%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_popular_attractions_locations h6 {
    font-size: 18px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-next {
    right: -15px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-prev {
    left: -15px !important;
  }
}

#swiper_our_offers_partners {
  text-align: center;
  margin: 30px 0px;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top a {
  color: black;
  text-decoration: none;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center {
  width: 90%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item img {
  width: 100%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom {
  position: absolute;
  bottom: 0;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom .swiper_our_offers_partners_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_our_offers_partners h6 {
    font-size: 18px !important;
  }
  #swiper_our_offers_partners .swiper-button-next {
    right: -15px !important;
  }
  #swiper_our_offers_partners .swiper-button-prev {
    left: -15px !important;
  }
}

#mursheed_app {
  margin-top: 80px;
}

#mursheed_app .mursheed_app_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left {
  padding-left: 55px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left h6 {
  font-family: Averta;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 22px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left p {
  opacity: 0.75;
  font-family: Averta;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #swiper {
    height: 450 !important;
  }
  #mursheed_app .mursheed_app_inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_left {
    padding-left: 0px !important;
    margin-bottom: 50px;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_right img {
    width: 100% !important;
  }
}

footer {
  padding: 50px 0;
  background-color: #222222;
}

footer .wrapper .row {
  color: #C7C7C7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .wrapper .row .header-text {
  font-size: 1.1em;
  font-weight: bold;
}

footer .wrapper .row a {
  color: #C7C7C7;
  text-decoration: none;
}

footer .wrapper .row .col-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-bottom: 2em !important;
}

footer .wrapper .row .col-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 15px;
  text-align: right;
}

footer .wrapper .row .col-3 .send {
  margin-top: 15px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .wrapper .row .col-3 .send input {
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  padding: 7px;
}

footer .wrapper .row .col-3 .send button {
  width: 20%;
  padding: 7px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0b8071;
  border: #0b8071;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-12 .social-icons {
  margin-top: 10px !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-12 .social-icons .head h2 {
  font-weight: bold;
  color: #C7C7C7;
  font-size: 1.2em;
}

.col-12 .social-icons ul li {
  float: left;
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer {
    text-align: center !important;
  }
  footer .logo img {
    width: 100% !important;
  }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100%;
  }
  footer .row .col-3 {
    width: 100%;
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
  }
  footer .col-12 .social-icons {
    margin-top: 10px !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .col-12 .social-icons .head h2 {
    font-weight: bold;
    color: #C7C7C7;
    font-size: 1em;
  }
  footer .col-12 .social-icons ul li {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 900px) {
  body,
  html {
    overflow-x: hidden;
  }
}

.topNav {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 20px;
  width: 100%;
  background-color: #f7f7f7 !important;
}

.topNav .container .topnavcontainer {
  width: 100%;
}

.topNav .container .topnavcontainer .firstcontainer {
  width: 50%;
  float: left;
}

.topNav .container .topnavcontainer .firstcontainer .currency,
.topNav .container .topnavcontainer .firstcontainer .language {
  display: none;
}

.topNav .container .topnavcontainer .firstcontainer .currency select,
.topNav .container .topnavcontainer .firstcontainer .language select {
  font-size: 0.6em;
  border: 1px solid #0b8071;
  -webkit-appearance: none !important;
  text-align: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px !important;
}

.topNav .container .topnavcontainer .secondcontainer {
  width: 100%;
}

.topNav .container .topnavcontainer .secondcontainer .dropLogBtn,
.topNav .container .topnavcontainer .secondcontainer .support {
  display: inline-block;
}

.topNav .container .topnavcontainer .secondcontainer .profile {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  background-size: cover;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid {
  margin-top: 40px !important;
  background-color: #f7f7f7;
  width: 100px;
  text-align: right;
  margin-left: -70px;
  border-radius: 6px;
  display: none;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid .loggediditem {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid.open {
  display: block;
  position: relative;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .support {
  float: right;
}

.topNav .container .topnavcontainer .secondcontainer .support .supportItem {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .topNav .firstcontainer {
    width: 50%;
    float: left;
  }
  .topNav .firstcontainer .language,
  .topNav .firstcontainer .currency {
    display: inline-block !important;
  }
  .topNav .secondcontainer {
    width: 50% !important;
    float: left;
  }
  .topNav .secondcontainer .support {
    display: none !important;
  }
  .topNav .secondcontainer .profile {
    display: inline-block !important;
  }
}

.centerNav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.centerNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.centerNav .container .logo {
  width: 200px;
}

.centerNav .container .logo img {
  width: 100%;
}

.centerNav .container .rightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.centerNav .container .rightContent .barIcon {
  margin-top: 10px !important;
  display: none;
}

.centerNav .container .rightContent .barIcon .line {
  width: 30px;
  background-color: black;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 5px;
}

.centerNav .container .rightContent .currency {
  position: relative;
  left: -50px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .currency .currencyText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .currency select {
  font-size: 1em !important;
  border: 0px !important;
  -webkit-appearance: none !important;
  padding: 2px !important;
}

.centerNav .container .rightContent .language {
  position: relative;
  left: -30px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .language .langText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .language select {
  font-size: 1em !important;
  border: 0px !important;
  -webkit-appearance: none !important;
  padding: 2px !important;
}

.centerNav .container .rightContent .language select option {
  padding: 5px !important;
  border: 0px !important;
}

.centerNav .container .rightContent .loginbuttons .loginbtn {
  border-radius: 2px !important;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
  margin-top: 0.5em !important;
}

.centerNav .container .rightContent .loginbuttons .loginbtn:hover {
  background-color: #0b8071;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn {
  border-radius: 2px !important;
  background-color: #0b8071;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn:hover {
  background-color: #f7f7f7;
  color: black;
}

.centerNav .menucontainer {
  display: none !important;
}

@media (max-width: 900px) {
  .rightContent .currency,
  .rightContent .language,
  .rightContent .loginbuttons {
    display: none !important;
  }
  .rightContent .barIcon {
    display: block !important;
  }
  .menucontainer {
    display: none;
    height: 0px !important;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0ms 400ms, opacity 400ms 0ms;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }
  .menucontainer .openmenu {
    text-align: right;
    width: 100%;
  }
  .menucontainer .openmenu_item {
    display: block;
    margin-top: 15px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    font-size: 1em !important;
    font-weight: bold;
    text-decoration: none;
    color: #151515;
  }
  .menucontainer .openmenu_item:hover {
    color: #0b8071 !important;
  }
  .menucontainer.active {
    display: block !important;
    height: auto !important;
    height: auto;
    opacity: 1;
    -webkit-transition: height 0ms 0ms, opacity 600ms 0ms;
    transition: height 0ms 0ms, opacity 600ms 0ms;
  }
}

@media (max-width: 500px) {
  .centerNav .logo {
    width: 150px;
  }
  .centerNav .logo img {
    width: 100%;
  }
}

.bottomNav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
  width: 100%;
}

.bottomNav .container .navcontainer .bottomnav_item {
  margin-left: 20px;
  font-size: 1.2em !important;
  font-weight: bold;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  color: black;
}

.bottomNav .container .navcontainer .bottomnav_item:hover {
  color: #0b8071;
}

.bottomNav .container .navcontainer .bottomnav_item.active {
  color: #0b8071;
}

@media (max-width: 900px) {
  .bottomNav {
    display: none !important;
  }
}

.siteNavigation {
  padding-top: 15px;
  padding-top: 15px;
  width: 100%;
}

.siteNavigation .navigation {
  text-align: left !important;
  display: block;
}

.siteNavigation .navigation__item {
  font-size: 0.9em;
  text-decoration: none;
  color: #a8a5a5;
}

.siteNavigation .navigation__item.active {
  color: #0b8071;
}

.siteNavigation .navigation i {
  font-size: 0.8em;
  font-weight: lighter;
  color: gray;
}

#touristregForm {
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  background-color: #f7f7f7;
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the steps that are finished and valid: */
}

#touristregForm .tourist_reg_head {
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: bold;
}

#touristregForm input {
  width: 95%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #ced4da;
  margin-bottom: 25px;
}

#touristregForm input.invalid {
  background-color: #ffdddd;
}

#touristregForm .tab {
  display: none;
}

#touristregForm .tab p {
  margin-bottom: 5px;
  color: black;
}

#touristregForm button {
  background-color: #0b8071;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 10px;
}

#touristregForm button:hover {
  opacity: 0.8;
}

#touristregForm #prevBtn {
  background-color: #bbbbbb;
}

#touristregForm .step {
  width: 43%;
  background-color: #81c5bc;
  border: none;
  border-radius: px;
  display: inline-block;
  opacity: 0.5;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle !important;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

#touristregForm .num {
  display: inline-block;
  padding: 5.1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0b8071;
  position: relative;
  top: -13px;
  color: white;
  width: 20px;
  position: relative;
  z-index: 123;
  left: 7px;
}

#touristregForm .step.active {
  opacity: 1;
  color: white;
  background-color: #0b8071 !important;
}

#touristregForm .step.finish {
  background-color: #0b8071;
}

#touristregForm .nexprevbtncover {
  overflow: auto;
}

#touristregForm .nexprevbtn {
  float: right;
}

#touristregForm .register_select {
  width: 100% !important;
}

#touristregForm div.searchable {
  width: 100%;
  background-color: white;
}

#touristregForm .searchable input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  display: block;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
}

#touristregForm .searchable ul {
  display: none;
  list-style-type: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #add8e6;
  border-top: none;
  max-height: 180px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}

#touristregForm .searchable ul li {
  padding: 7px 9px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  color: #6e6e6e;
}

#touristregForm .searchable ul li.selected {
  background-color: #e8e8e8;
  color: #333;
}

@media (max-width: 932px) {
  #touristregForm .step {
    width: 80%;
  }
}

#guideregForm {
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 40%;
  min-width: 300px;
  background-color: #f7f7f7;
  /* Mark input boxes that gets an error on validation: */
  /* Hide all steps by default: */
  /* Make circles that indicate the steps of the form: */
  /* Mark the steps that are finished and valid: */
}

#guideregForm select {
  width: 100%;
}

#guideregForm .multiple {
  width: 95%;
}

#guideregForm .tourist_reg_head {
  text-align: center;
  font-size: 2em;
  color: black;
  font-weight: bold;
}

#guideregForm input {
  width: 95%;
  font-size: 17px;
}

#guideregForm input.invalid {
  background-color: #ffdddd;
}

#guideregForm .tab {
  display: none;
}

#guideregForm .tab p {
  margin-bottom: 5px;
  color: black;
}

#guideregForm button {
  background-color: #0b8071;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 10px;
}

#guideregForm button:hover {
  opacity: 0.8;
}

#guideregForm #prevBtn {
  background-color: #bbbbbb;
}

#guideregForm .step {
  width: 43%;
  background-color: #81c5bc;
  border: none;
  border-radius: px;
  display: inline-block;
  opacity: 0.5;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle !important;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

#guideregForm .num {
  display: inline-block;
  padding: 5.1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0b8071;
  position: relative;
  top: -13px;
  color: white;
  width: 20px;
  position: relative;
  z-index: 123;
  left: 7px;
}

#guideregForm .step.active {
  opacity: 1;
  color: white;
  background-color: #0b8071 !important;
}

#guideregForm .step.finish {
  background-color: #0b8071;
}

#guideregForm .nexprevbtncover {
  overflow: auto;
}

#guideregForm .nexprevbtn {
  float: right;
}

#guideregForm .register_select {
  width: 100% !important;
}

@media (max-width: 932px) {
  #touristregForm .step {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */