@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url(c:\Users\Simuratli\Desktop\mursheed\fonts\averta\stylesheet.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\style\reset.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\libs\swiper\swiper.css);
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-button-next {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  right: 50px;
}

.swiper-container .swiper-button-next::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.swiper-container .swiper-button-prev {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  left: 50px;
}

.swiper-container .swiper-button-prev::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide .bigsliderImg {
  width: 100%;
  height: 500px;
}

.swiper-slide .bigsliderImg img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide .bigsliderTitle {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-slide .bigsliderTitle p {
  margin-left: 3em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.startYourJourney {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.startYourJourney .journeyHead {
  text-align: center;
  width: 100%;
}

.startYourJourney .journeyHead h1 {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.startYourJourney .journeyBottom {
  width: 100%;
}

.startYourJourney .journeyBottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startYourJourney .journeyBottom ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-left: 10px;
}

.startYourJourney .journeyBottom ul li input {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
}

.startYourJourney .journeyBottom ul li button {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
  background-color: #0b8071;
  color: white;
}

.startYourJourney .journeyBottom ul li input[type=date] {
  padding: 8px !important;
}

.startYourJourney .journeyBottom ul li select {
  width: 200px !important;
  border: 1px solid #0b8071 !important;
  border-radius: 5px;
  padding: 10px !important;
}

@media (max-width: 900px) {
  .startYourJourney {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .startYourJourney .journeyHead {
    text-align: center;
    width: 100%;
  }
  .startYourJourney .journeyBottom {
    width: 100%;
  }
  .startYourJourney .journeyBottom ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startYourJourney .journeyBottom ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .startYourJourney .journeyBottom ul li input {
    width: 230px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
  }
  .startYourJourney .journeyBottom ul li button {
    width: 250px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
    background-color: #0b8071;
    color: white;
  }
  .startYourJourney .journeyBottom ul li input[type=date] {
    padding: 8px !important;
  }
  .startYourJourney .journeyBottom ul li select {
    width: 250px !important;
    border: 1px solid #0b8071 !important;
    border-radius: 5px;
    padding: 10px !important;
  }
}

.journey {
  padding-top: 30px;
  padding-bottom: 30px;
}

.whyMursheed {
  padding: 3em;
}

.whyMursheed .murseedContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.whyMursheed .murseedContainer_item {
  text-align: center;
  padding: 20px;
  border: 1px solid #fff;
}

.whyMursheed .murseedContainer_item img {
  margin-bottom: 10px;
}

#swiper_most_popular_drivers {
  text-align: center;
  margin: 30px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center {
  width: 90%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a:hover {
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .unavailable {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #ac1b1b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .available {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #38b77b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_most_popular_drivers h6 {
    font-size: 18px !important;
  }
  #swiper_most_popular_drivers .swiper-button-next {
    right: -15px !important;
  }
  #swiper_most_popular_drivers .swiper-button-prev {
    left: -15px !important;
  }
}

#swiper_popular_attractions_locations {
  text-align: center;
  margin: 30px 0px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top a {
  color: black;
  text-decoration: none;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center {
  width: 90%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_popular_attractions_locations h6 {
    font-size: 18px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-next {
    right: -15px !important;
  }
  #swiper_popular_attractions_locations .swiper-button-prev {
    left: -15px !important;
  }
}

#swiper_our_offers_partners {
  text-align: center;
  margin: 30px 0px;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top a {
  color: black;
  text-decoration: none;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center {
  width: 90%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item {
  border-radius: 3px;
  text-align: left;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom {
  position: absolute;
  bottom: 0;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom .swiper_our_offers_partners_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_our_offers_partners h6 {
    font-size: 18px !important;
  }
  #swiper_our_offers_partners .swiper-button-next {
    right: -15px !important;
  }
  #swiper_our_offers_partners .swiper-button-prev {
    left: -15px !important;
  }
}

#mursheed_app {
  position: relative;
  top: 50px;
}

#mursheed_app .mursheed_app_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left {
  padding-left: 55px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left h6 {
  font-family: Averta;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 22px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left p {
  opacity: 0.75;
  font-family: Averta;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #swiper {
    height: 450 !important;
  }
  #mursheed_app .mursheed_app_inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_left {
    padding-left: 0px !important;
    margin-bottom: 50px;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_right img {
    width: 100% !important;
  }
}

footer {
  position: relative;
  top: 35px;
  background-color: #222222;
  padding-top: 3em;
  padding-bottom: 4em;
  color: white;
  text-align: left !important;
}

footer .footer_container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer .footer_container .footer_info {
  padding: 10px;
}

footer .footer_container .footer_info img {
  margin-bottom: 1em !important;
}

footer .footer_container .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

footer .footer_container .footer_menu h2 {
  font-size: 1.2em;
  font-weight: bold;
}

footer .footer_container .footer_menu a {
  margin-top: 1em;
  color: #f7f7f7;
  text-decoration: none;
}

footer .footer_container .footer_menu input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #0b8071;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

footer .footer_container .footer_menu button {
  padding: 9.5px;
  background-color: #0b8071;
  border: 0px;
  margin-left: -5px;
  margin-top: 10px;
  position: relative;
  top: 2px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 643px) {
  footer {
    background-color: #222222;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
  }
  footer .footer_container {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_container .footer_info {
    margin-left: -15px;
    padding: 10px;
  }
  footer .footer_container .footer_info img {
    margin-bottom: 1em !important;
    width: 150px !important;
  }
  footer .footer_container .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  footer .footer_container .footer_menu h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  footer .footer_container .footer_menu a {
    margin-top: 1em;
    color: #cfcfcf;
  }
}

@media (max-width: 1209px) {
  footer .footer_container .footer_menu input {
    border-radius: 5px !important;
    border: 1px solid #0b8071;
    height: 10px;
    width: 150px;
    margin-top: 10px;
  }
  footer .footer_container .footer_menu button {
    padding: 6px;
    background-color: #0b8071;
    border: 0px;
    margin-top: 10px;
    position: relative;
    top: 2px;
    width: 175px;
    margin-left: 1px !important;
    border-radius: 5px !important;
  }
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  left: -50px;
  top: 30px;
}

.social-networks li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

@media (max-width: 899px) {
  .social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    left: 20px;
    top: 30px;
  }
  .social-networks li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
  }
}

@media (max-width: 350px) {
  .social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 30px;
  }
  .social-networks li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  body,
  html {
    overflow-x: hidden;
  }
}

.topNav {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 20px;
  width: 100%;
  background-color: #f7f7f7 !important;
}

.topNav .container .topnavcontainer {
  width: 100%;
}

.topNav .container .topnavcontainer .firstcontainer {
  width: 50%;
  float: left;
}

.topNav .container .topnavcontainer .firstcontainer .currency,
.topNav .container .topnavcontainer .firstcontainer .language {
  display: none;
}

.topNav .container .topnavcontainer .firstcontainer .currency select,
.topNav .container .topnavcontainer .firstcontainer .language select {
  font-size: 0.6em;
  border: 1px solid #0b8071;
  -webkit-appearance: none !important;
  text-align: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px !important;
}

.topNav .container .topnavcontainer .secondcontainer {
  width: 100%;
}

.topNav .container .topnavcontainer .secondcontainer .dropLogBtn,
.topNav .container .topnavcontainer .secondcontainer .support {
  display: inline-block;
}

.topNav .container .topnavcontainer .secondcontainer .profile {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  background-size: cover;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid {
  margin-top: 40px !important;
  background-color: #f7f7f7;
  width: 100px;
  text-align: right;
  margin-left: -70px;
  border-radius: 6px;
  display: none;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid .loggediditem {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.topNav .container .topnavcontainer .secondcontainer .profile #loggedid.open {
  display: block;
  position: relative;
  z-index: 13 !important;
}

.topNav .container .topnavcontainer .secondcontainer .support {
  float: right;
}

.topNav .container .topnavcontainer .secondcontainer .support .supportItem {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .topNav .firstcontainer {
    width: 50%;
    float: left;
  }
  .topNav .firstcontainer .language,
  .topNav .firstcontainer .currency {
    display: inline-block !important;
  }
  .topNav .secondcontainer {
    width: 50% !important;
    float: left;
  }
  .topNav .secondcontainer .support {
    display: none !important;
  }
  .topNav .secondcontainer .profile {
    display: inline-block !important;
  }
}

.centerNav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.centerNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.centerNav .container .logo {
  width: 200px;
}

.centerNav .container .logo img {
  width: 100%;
}

.centerNav .container .rightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.centerNav .container .rightContent .barIcon {
  margin-top: 10px !important;
  display: none;
}

.centerNav .container .rightContent .barIcon .line {
  width: 30px;
  background-color: black;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 5px;
}

.centerNav .container .rightContent .currency {
  position: relative;
  left: -50px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .currency .currencyText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .currency select {
  font-size: 1em !important;
  border: 0px !important;
  -webkit-appearance: none !important;
  padding: 2px !important;
}

.centerNav .container .rightContent .language {
  position: relative;
  left: -30px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .language .langText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .language select {
  font-size: 1em !important;
  border: 0px !important;
  -webkit-appearance: none !important;
  padding: 2px !important;
}

.centerNav .container .rightContent .language select option {
  padding: 5px !important;
  border: 0px !important;
}

.centerNav .container .rightContent .loginbuttons .loginbtn {
  border-radius: 2px !important;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
  margin-top: 0.5em !important;
}

.centerNav .container .rightContent .loginbuttons .loginbtn:hover {
  background-color: #0b8071;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn {
  border-radius: 2px !important;
  background-color: #0b8071;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn:hover {
  background-color: #f7f7f7;
  color: black;
}

.centerNav .menucontainer {
  display: none !important;
}

@media (max-width: 900px) {
  .rightContent .currency,
  .rightContent .language,
  .rightContent .loginbuttons {
    display: none !important;
  }
  .rightContent .barIcon {
    display: block !important;
  }
  .menucontainer {
    display: none;
    height: 0px !important;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0ms 400ms, opacity 400ms 0ms;
    transition: height 0ms 400ms, opacity 400ms 0ms;
  }
  .menucontainer .openmenu {
    text-align: right;
    width: 100%;
  }
  .menucontainer .openmenu_item {
    display: block;
    margin-top: 15px;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    font-size: 1em !important;
    font-weight: bold;
    text-decoration: none;
    color: #151515;
  }
  .menucontainer .openmenu_item:hover {
    color: #0b8071 !important;
  }
  .menucontainer.active {
    display: block !important;
    height: auto !important;
    height: auto;
    opacity: 1;
    -webkit-transition: height 0ms 0ms, opacity 600ms 0ms;
    transition: height 0ms 0ms, opacity 600ms 0ms;
  }
}

@media (max-width: 500px) {
  .centerNav .logo {
    width: 150px;
  }
  .centerNav .logo img {
    width: 100%;
  }
}

.bottomNav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f7f7f7;
  width: 100%;
}

.bottomNav .container .navcontainer .bottomnav_item {
  margin-left: 20px;
  font-size: 1.2em !important;
  font-weight: bold;
  -webkit-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
  color: black;
}

.bottomNav .container .navcontainer .bottomnav_item:hover {
  color: #0b8071;
}

.bottomNav .container .navcontainer .bottomnav_item.active {
  color: #0b8071;
}

@media (max-width: 900px) {
  .bottomNav {
    display: none !important;
  }
}

.siteNavigation {
  padding-top: 15px;
  padding-top: 15px;
}

.siteNavigation .navigation__item {
  font-size: 0.9em;
  text-decoration: none;
  color: #a8a5a5;
}

.siteNavigation .navigation__item.active {
  color: #0b8071;
}

.siteNavigation .navigation i {
  font-size: 0.8em;
  font-weight: lighter;
  color: gray;
}
/*# sourceMappingURL=main.css.map */