@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url(c:\Users\Simuratli\Desktop\mursheed\fonts\averta\stylesheet.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\style\reset.css);
@import url(c:\Users\Simuratli\Desktop\mursheed\libs\swiper\swiper.css);
.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar__header {
  padding-top: 20px;
  padding-bottom: 40px;
}

.navbar__header__container--left {
  float: right;
  width: auto;
}

.navbar__header__container__links a {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.4em;
  margin-right: 10px;
  color: black;
  font-size: 1em;
  font-weight: 500;
  font-family: Averta;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.navbar__logo svg {
  width: 200px;
}

.navbar__logo img {
  width: 200px;
}

.navbar__left {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__left__currency, .navbar__left__language {
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -5px;
}

.navbar__left__currency span {
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.navbar__left__currency--green {
  color: #0b8071;
}

.navbar__left__language span {
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.navbar__left__language--green {
  color: #0b8071;
}

.navbar__left__buttons--bgwhite {
  border: 1px solid #0b8071 !important;
  border-radius: 3px;
  background-color: #f7f7f7;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.navbar__left__buttons--bgwhite:hover {
  background-color: #0b8071;
  color: #f7f7f7;
}

.navbar__left__buttons--bggreen {
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  background-color: #0b8071;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #f7f7f7;
}

.navbar__left__buttons--bggreen:hover {
  background-color: #f7f7f7;
  color: #0b8071;
  border: 1px solid #0b8071;
}

.navbar__menu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar__menu__item {
  margin-right: 1em;
  font-size: 1.25em;
  text-decoration: none;
  color: black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  font-weight: bold;
}

.navbar__menu__item:hover {
  color: #0b8071;
}

.inner-header {
  width: 100%;
  background-color: #f7f7f7;
}

.center-header {
  width: 100%;
}

.bottom-header {
  width: 100%;
  background-color: #f7f7f7;
  height: auto;
}

.active {
  color: #0b8071;
}

.btn {
  width: 10em;
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
}

.if-logged {
  display: none;
}

@media (max-width: 900px) {
  .container {
    width: 95%;
  }
  .navbar__left__buttons {
    display: none;
  }
  .if-logged {
    position: relative;
    top: -3.3em !important;
    left: 2em;
    display: block;
    z-index: 12 !important;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-image: url(../img/profile/user.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
  }
  .if-logged .loggedContainer {
    margin-top: 50px;
    z-index: 11 !important;
    display: none;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    position: relative;
    left: -3em;
  }
  .if-logged .loggedContainer.open {
    display: block;
  }
  .if-logged .logbutton,
  .if-logged .regbutton {
    width: 5em;
    background-color: #f7f7f7;
    font-size: 1em;
    margin-left: -25px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: right;
  }
  .navbar__header__container__links {
    display: none;
  }
  .navbar__left__language,
  .navbar__left__currency {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  }
  .navbar__left__language select,
  .navbar__left__currency select {
    border: 1px solid #0b8071 !important;
    border-radius: 0.3em;
  }
  .navbar__left__language {
    left: 6rem;
  }
  .responsivespan {
    display: none !important;
  }
  .responsivenavIcon {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
  }
  .responsivenavIcon .line {
    width: 1.5em;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: black;
  }
  .navbar__menu {
    display: block;
  }
  .bottom-header {
    -webkit-transition: 400ms;
    transition: 400ms;
    text-align: right;
    height: auto;
    margin-bottom: 2em;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .bottom-header .container {
    width: 100%;
  }
  .bottom-header .navbar {
    padding: 0;
    margin: 0;
  }
  .bottom-header .navbar__menu {
    display: block;
    width: 100% !important;
    text-align: right;
    display: none;
    background-color: #eeeeee;
    margin: 0;
  }
  .bottom-header .navbar__menu__item {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
  }
  .bottom-header .navbar__menu.active {
    display: block;
    height: auto !important;
  }
}

select {
  padding: 5px;
  width: auto;
  font-family: arial, tahoma;
  font-size: 13px;
  text-align: center;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 3px !important;
  margin-bottom: -10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: 0 !important;
  background-color: transparent !important;
}

select option {
  display: block;
  padding: 15px !important;
  font-size: 1em;
}

#swiper {
  height: 700px;
}

#swiper a {
  height: inherit;
  display: inline-block;
  width: 100%;
}

#swiper .swiper-container {
  width: 100%;
  height: 100%;
}

#swiper .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#swiper .swiper-container .swiper-button-next {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  right: 20px;
}

#swiper .swiper-container .swiper-button-next::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

#swiper .swiper-container .swiper-button-prev {
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
  color: black;
  width: 40px;
  height: 40px;
  left: 20px;
}

#swiper .swiper-container .swiper-button-prev::after {
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

#swiper .swiper-container .swiper-bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

#swiper .swiper-container .swiper-bottom-text p {
  font-family: Averta;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 0px;
  margin-left: 13%;
}

@media only screen and (max-width: 992px) {
  #swiper {
    height: 450px !important;
  }
}

.startYourJourney {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.startYourJourney .journeyHead {
  text-align: center;
  width: 100%;
}

.startYourJourney .journeyHead h1 {
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.startYourJourney .journeyBottom {
  width: 100%;
}

.startYourJourney .journeyBottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startYourJourney .journeyBottom ul li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-left: 10px;
}

.startYourJourney .journeyBottom ul li input {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
}

.startYourJourney .journeyBottom ul li button {
  width: 200px;
  padding: 10px;
  border: 1px solid #0b8071;
  border-radius: 5px;
  background-color: #0b8071;
  color: white;
}

.startYourJourney .journeyBottom ul li input[type=date] {
  padding: 8px !important;
}

.startYourJourney .journeyBottom ul li select {
  width: 200px !important;
  border: 1px solid #0b8071 !important;
  border-radius: 5px;
  padding: 10px !important;
}

@media (max-width: 900px) {
  .startYourJourney {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  .startYourJourney .journeyHead {
    text-align: center;
    width: 100%;
  }
  .startYourJourney .journeyBottom {
    width: 100%;
  }
  .startYourJourney .journeyBottom ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startYourJourney .journeyBottom ul li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .startYourJourney .journeyBottom ul li input {
    width: 230px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
  }
  .startYourJourney .journeyBottom ul li button {
    width: 250px;
    padding: 10px;
    border: 1px solid #0b8071;
    border-radius: 5px;
    background-color: #0b8071;
    color: white;
  }
  .startYourJourney .journeyBottom ul li input[type=date] {
    padding: 8px !important;
  }
  .startYourJourney .journeyBottom ul li select {
    width: 250px !important;
    border: 1px solid #0b8071 !important;
    border-radius: 5px;
    padding: 10px !important;
  }
}

.journey {
  padding-top: 30px;
  padding-bottom: 30px;
}

.whyMursheed {
  padding: 3em;
}

.whyMursheed .murseedContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.whyMursheed .murseedContainer_item {
  text-align: center;
  padding: 20px;
  border: 1px solid #fff;
}

.whyMursheed .murseedContainer_item img {
  margin-bottom: 10px;
}

#swiper_most_popular_drivers {
  text-align: center;
  margin: 30px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_top a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center {
  width: 90%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a {
  color: black;
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide a:hover {
  text-decoration: none;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .unavailable {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #ac1b1b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-wrapper .swiper-slide .most_popular_drivers_bottom_item .most_popular_drivers_bottom_item_rides .available {
  width: 90px;
  height: 20px;
  border-radius: 2px;
  background-color: #38b77b;
  font-family: Averta;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-right: 12px;
  line-height: 8px;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_most_popular_drivers .swiper_most_popular_drivers_bottom .swiper_most_popular_drivers_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_most_popular_drivers/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_most_popular_drivers .slider-container h6 {
    font-size: 18px !important;
  }
  #swiper_most_popular_drivers .swiper-button-next {
    right: -15px !important;
  }
  #swiper_most_popular_drivers .swiper-button-prev {
    left: -15px !important;
  }
  .swiper_most_popular_drivers_bottom {
    width: 300px !important;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#swiper_popular_attractions_locations {
  text-align: center;
  margin: 50px 0px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_top a {
  color: black;
  text-decoration: none;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center {
  width: 90%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item {
  margin: 1px;
  -webkit-box-shadow: 0px 0px 0px 1px #c9c9c9;
          box-shadow: 0px 0px 0px 1px #c9c9c9;
  border-radius: 3px;
  text-align: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item img {
  margin-bottom: 25px;
  width: 100%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings p {
  margin-left: 11px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item .popular_attractions_locations_bottom_item_ratings span {
  font-family: Averta;
  font-size: 13px;
  color: #888888;
  line-height: 26px;
  margin-left: 10px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-wrapper .swiper-slide .popular_attractions_locations_bottom_item p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_popular_attractions_locations .swiper_popular_attractions_locations_bottom .swiper_popular_attractions_locations_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_popular_attractions_locations/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_popular_attractions_locations h6 {
    font-size: 18px !important;
  }
}

a {
  color: black;
  text-decoration: none;
}

.city_name {
  padding-bottom: 20px;
}

#swiper_our_offers_partners {
  text-align: center;
  margin: 30px 0px;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top a {
  color: black;
  text-decoration: none;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center {
  width: 90%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item {
  border-radius: 3px;
  text-align: left;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom {
  position: absolute;
  bottom: 0;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom .swiper_our_offers_partners_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_our_offers_partners h6 {
    font-size: 18px !important;
  }
  #swiper_our_offers_partners .swiper-button-next {
    right: -15px !important;
  }
  #swiper_our_offers_partners .swiper-button-prev {
    left: -15px !important;
  }
}

#mursheed_app {
  position: relative;
  top: 50px;
}

#mursheed_app .mursheed_app_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left {
  padding-left: 55px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left h6 {
  font-family: Averta;
  font-size: 23px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 22px;
}

#mursheed_app .mursheed_app_inside .mursheed_app_left p {
  opacity: 0.75;
  font-family: Averta;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  #swiper {
    height: 450 !important;
  }
  #mursheed_app .mursheed_app_inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_left {
    padding-left: 0px !important;
    margin-bottom: 50px;
  }
  #mursheed_app .mursheed_app_inside .mursheed_app_right img {
    width: 100% !important;
  }
}

footer {
  position: relative;
  top: 35px;
  background-color: #222222;
  padding-top: 3em;
  padding-bottom: 4em;
  color: white;
  text-align: left !important;
}

footer .footer_container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer .footer_container .footer_info {
  padding: 10px;
}

footer .footer_container .footer_info img {
  margin-bottom: 1em !important;
}

footer .footer_container .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

footer .footer_container .footer_menu h2 {
  font-size: 1.2em;
  font-weight: bold;
}

footer .footer_container .footer_menu a {
  margin-top: 1em;
  color: #f7f7f7;
}

footer .footer_container .footer_menu input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #0b8071;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

footer .footer_container .footer_menu button {
  padding: 9.5px;
  background-color: #0b8071;
  border: 0px;
  margin-left: -5px;
  margin-top: 10px;
  position: relative;
  top: 2px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 643px) {
  footer {
    background-color: #222222;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
  }
  footer .footer_container {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_container .footer_info {
    margin-left: -15px;
    padding: 10px;
  }
  footer .footer_container .footer_info img {
    margin-bottom: 1em !important;
    width: 150px !important;
  }
  footer .footer_container .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  footer .footer_container .footer_menu h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  footer .footer_container .footer_menu a {
    margin-top: 1em;
    color: #cfcfcf;
  }
}

@media (max-width: 1209px) {
  footer .footer_container .footer_menu input {
    border-radius: 5px !important;
    border: 1px solid #0b8071;
    height: 10px;
    width: 150px;
    margin-top: 10px;
  }
  footer .footer_container .footer_menu button {
    padding: 6px;
    background-color: #0b8071;
    border: 0px;
    margin-top: 10px;
    position: relative;
    top: 2px;
    width: 175px;
    margin-left: 1px !important;
    border-radius: 5px !important;
  }
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  left: -50px;
  top: 30px;
}

.social-networks li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

@media (max-width: 899px) {
  .social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    left: 30px;
    top: 30px;
  }
  .social-networks li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  body,
  html {
    overflow-x: hidden;
  }
}

.topNav {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topNav .langandcurrency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  float: left !important;
  width: 40%;
  margin: 0 auto !important;
  margin-left: 30px !important;
  visibility: hidden;
}

.topNav .langandcurrency select {
  font-size: 1em !important;
  border-radius: 2px;
  padding: 5px !important;
  border: 1px solid #0b8071 !important;
  margin-left: 10px !important;
}

.topNav .container {
  text-align: right;
}

.topNav .container a {
  display: inline-block;
  margin-left: 1.2em;
}

#dropLogBtn {
  display: none;
}

@media (max-width: 900px) {
  #dropLogBtn {
    display: block !important;
  }
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/profile/user.jpg);
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 10px !important;
  right: 10px;
}

.profile #loggedid {
  position: relative;
  left: -40px;
  top: 20px;
  display: none !important;
  text-align: right;
}

.profile #loggedid .loggediditem {
  display: block;
  margin-top: 10px;
  font-size: 1em;
  padding: 5px !important;
}

@media (max-width: 900px) {
  .topNav {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .topNav .langandcurrency {
    visibility: visible;
  }
  .topNav .langandcurrency select {
    font-size: 0.8em !important;
  }
  .topNav .support {
    position: relative;
    top: -10px !important;
  }
  .topNav .support .supportItem {
    visibility: hidden !important;
  }
  .topNav .support .profile {
    display: inline-block !important;
    position: relative;
    top: 10px !important;
  }
  .topNav .support .profile #loggedid {
    display: block !important;
  }
}

#loggedid.open {
  display: block !important;
  background-color: #f7f7f7;
  width: 80px;
  z-index: 12 !important;
}

#loggedid.open a {
  display: inline;
}

@media (max-width: 431px) {
  .topNav {
    width: 100% !important;
    height: 50px !important;
  }
  .topNav .support .supportItem {
    display: none;
  }
  .topNav .support .profile {
    display: inline-block !important;
  }
}

.centerNav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.centerNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.centerNav .container .logo {
  width: 200px;
}

.centerNav .container .logo img {
  width: 100%;
}

.centerNav .container .rightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.centerNav .container .rightContent .barIcon {
  margin-top: 10px !important;
  display: none;
}

.centerNav .container .rightContent .barIcon .line {
  width: 30px;
  background-color: black;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 5px;
}

.centerNav .container .rightContent .currency {
  position: relative;
  left: -50px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .currency .currencyText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .currency select {
  font-size: 1em !important;
}

.centerNav .container .rightContent .language {
  position: relative;
  left: -30px !important;
  text-align: center !important;
}

.centerNav .container .rightContent .language .langText {
  font-size: 0.8em;
  color: #0b8071;
}

.centerNav .container .rightContent .language select {
  font-size: 1em !important;
}

.centerNav .container .rightContent .language select option {
  padding: 5px !important;
  border: 0px !important;
}

.centerNav .container .rightContent .loginbuttons .loginbtn {
  border-radius: 2px !important;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
}

.centerNav .container .rightContent .loginbuttons .loginbtn:hover {
  background-color: #0b8071;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn {
  border-radius: 2px !important;
  background-color: #0b8071;
  border: 1px solid #0b8071;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  width: 100px;
  color: white;
}

.centerNav .container .rightContent .loginbuttons .registerbtn:hover {
  background-color: #f7f7f7;
  color: black;
}

@media (max-width: 900px) {
  .rightContent .currency,
  .rightContent .language,
  .rightContent .loginbuttons {
    display: none !important;
  }
  .rightContent .barIcon {
    display: block !important;
  }
}
/*# sourceMappingURL=main.css.map */