     .navbar {
         width: 100%;
         padding: 10px;
         display: flex;
         //top nav
         &__header {
             padding-top: 20px;
             padding-bottom: 40px;
             &__container {
                 &--left {
                     float: right;
                     width: auto;
                 }
                 &__links {
                     a {
                         display: inline-block;
                         margin-left: 20px;
                         text-decoration: none;
                         font-size: 20px;
                         margin-right: 10px;
                         color: black;
                         font-size: 1em;
                         font-weight: 500;
                     }
                 }
             }
         }
         // top nav end
         // Center Nav
         &__logo {
             svg {
                 width: 200px;
             }
             img {
                 width: 200px;
             }
         }
         &__left {
             margin-left: auto;
             display: flex;
             &__currency,
             &__language {
                 text-align: center;
                 padding: 5px;
                 margin-left: 10px;
                 margin-right: 10px;
             }
             &__currency {
                 span {
                     font-size: 0.7em;
                     display: inline-block;
                     font-weight: bold;
                     margin-bottom: 5px;
                 }
                 &--green {
                     color: rgb(12, 117, 12);
                 }
             }
             &__language {
                 span {
                     font-size: 0.7em;
                     display: inline-block;
                     font-weight: bold;
                     margin-bottom: 5px;
                 }
                 &--green {
                     color: rgb(12, 117, 12);
                 }
             }
             &__buttons {
                 &--bgwhite {
                     border: 1px solid rgb(12, 117, 12);
                     border-radius: 3px;
                     background-color: white;
                     transition: 200ms ease-in-out;
                     &:hover {
                         background-color: rgb(12, 117, 12);
                         color: white;
                     }
                 }
                 &--bggreen {
                     border: 1px solid white;
                     border-radius: 3px;
                     background-color: rgb(12, 117, 12);
                     transition: 200ms ease-in-out;
                     color: white;
                     &:hover {
                         background-color: white;
                         color: rgb(12, 117, 12);
                         border: 1px solid rgb(12, 117, 12);
                     }
                 }
             }
         }
         &__menu {
             text-align: center;
             padding-top: 10px;
             padding-bottom: 10px;
             &__item {
                 margin-right: 1em;
                 font-size: 1.25em;
                 text-decoration: none;
                 color: black;
                 transition: 300ms ease-in-out;
                 font-weight: bold;
                 &:hover {
                     color: rgb(27, 27, 27);
                 }
             }
         }
     }
     
     .inner-header {
         width: 100%;
         background-color: rgb(236, 236, 236);
     }
     
     .center-header {
         width: 100%;
     }
     
     .bottom-header {
         width: 100%;
         background-color: rgb(236, 236, 236);
         height: auto;
     }
     
     .active {
         color: rgb(12, 61, 61);
     }
     
     .btn {
         width: 10em;
         padding: 10px;
         border: 0px;
         font-size: 1em;
         font-weight: bolder;
     }
     
     .if-logged {
         display: none;
     }
     
     // Responsive nav 
     @media(max-width:872px) {
         .container {
             width: 95%;
         }
         .navbar__left__buttons {
             display: none;
         }
         .if-logged {
             margin-top: -4em;
             display: block;
             z-index: 12 !important;
             width: 3rem;
             height: 3rem;
             border-radius: 50%;
             background-image: url(../img/profile/rectangle.jpg);
             background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
             display: inline-block;
             // .logbutton {
             //     display: none;
             // }
             // .regbutton {
             //     display: none;
             // }
             .loggedContainer {
                 margin-top: 50px;
                 z-index: 11 !important;
                 display: none;
                 transition: 300ms ease-in-out;
             }
             .loggedContainer.open {
                 display: block;
             }
             .logbutton,
             .regbutton {
                 width: 5em;
                 background-color: gray;
                 font-size: 1em;
                 margin-left: -25px;
             }
         }
         .navbar__header__container__links {
             display: none;
         }
         .navbar__left__language,
         .navbar__left__currency {
             position: absolute;
             top: 1rem;
             left: 1rem;
             border-radius: 0.3em;
             border: 1px solid green;
             cursor: pointer;
         }
         .navbar__left__language {
             left: 6rem;
         }
         .responsivespan {
             display: none !important;
         }
         .responsivenavIcon {
             float: left;
             margin-right: 20px;
             margin-top: 10px;
             .line {
                 width: 1.5em;
                 height: 3px;
                 margin-bottom: 5px;
                 border-radius: 2px;
                 background-color: black;
             }
         }
         .navbar__menu {
             display: block;
         }
         .bottom-header {
             transition: 400ms;
             text-align: right;
             height: auto;
             margin-bottom: 2em;
             transition: 1s;
             .container {
                 width: 100%;
             }
             .navbar {
                 padding: 0;
                 margin: 0;
                 &__menu {
                     display: block;
                     width: 100% !important;
                     text-align: right;
                     display: none;
                     background-color: rgb(238, 238, 238);
                     margin: 0;
                     &__item {
                         display: block;
                         margin-top: 10px;
                     }
                     &.active {
                         display: block;
                         height: auto !important;
                     }
                 }
             }
         }
     }