.whyMursheed {
    padding: 3em;
    .murseedContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        &_item {
            text-align: center;
            padding: 20px;
            border: 1px solid #fff;
            img {
                margin-bottom: 10px;
            }
        }
    }
}