$main-color:#0b8071;
$bg-color: #f7f7f7;
.container {
    .accomadation_container {
        .control2 {
            font-family: arial;
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;
            padding-top: 3px;
            cursor: pointer;
            font-size: 16px;
        }
        .control2 input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .control_indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: #e6e6e6;
            border: 0px solid #000000;
            border-radius: undefinedpx;
        }
        .control2:hover input~.control_indicator,
        .control2 input:focus~.control_indicator {
            background: #cccccc;
        }
        .control2 input:checked~.control_indicator {
            background: #0b8071;
        }
        .control:hover input:not([disabled]):checked~.control_indicator,
        .control2 input:checked:focus~.control_indicator {
            background: $main-color;
        }
        .control2 input:disabled~.control_indicator {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }
        .control_indicator:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
        }
        .control2 input:checked~.control_indicator:after {
            display: block;
        }
        .control-radio .control_indicator {
            border-radius: 50%;
        }
        .control-radio .control_indicator:after {
            left: 7px;
            top: 7px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: #ffffff;
            transition: background 250ms;
        }
        .control-radio input:disabled~.control_indicator:after {
            background: #7b7b7b;
        }
        .control-radio .control_indicator::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 4.5rem;
            height: 4.5rem;
            margin-left: -1.3rem;
            margin-top: -1.3rem;
            background: #2aa1c0;
            border-radius: 3rem;
            opacity: 0.6;
            z-index: 99999;
            transform: scale(0);
        }
        @keyframes s-ripple {
            0% {
                opacity: 0;
                transform: scale(0);
            }
            20% {
                transform: scale(1);
            }
            100% {
                opacity: 0.01;
                transform: scale(1);
            }
        }
        @keyframes s-ripple-dup {
            0% {
                transform: scale(0);
            }
            30% {
                transform: scale(1);
            }
            60% {
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(1);
            }
        }
        .control-radio input+.control_indicator::before {
            animation: s-ripple 250ms ease-out;
        }
        .control-radio input:checked+.control_indicator::before {
            animation-name: s-ripple-dup;
        }
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        .accomadation_col1 {
            flex: 1;
            .accomadation_filter {
                border-radius: 10px;
                border: 1px solid $main-color;
                padding: 15px;
                margin-bottom: 15px !important;
                &_label {
                    display: block;
                }
            }
            .accomadation_search {
                background-color: $bg-color;
                border-radius: 10px;
                &_header {
                    padding-bottom: 5px;
                    padding-top: 5px;
                    border-bottom: 1px solid rgb(223, 223, 223) !important;
                    display: flex;
                    padding: 15px;
                    justify-content: space-between;
                    .acc_head_search {
                        font-size: 1.2em;
                    }
                    .acc_head_sifir {
                        color: $main-color;
                    }
                }
                &_content {
                    padding: 15px;
                    &_header {
                        display: flex;
                        justify-content: space-between;
                        &.active,
                        &:after {
                            content: '\2212';
                            font-weight: bold;
                            font-size: 2em;
                            color: $main-color;
                            margin-left: 5px;
                            position: relative;
                            top: -10px;
                        }
                        &.active:after {
                            content: "\002b";
                            color: $main-color;
                            font-size: 1em;
                        }
                    }
                    &_bottom {
                        border-top: 2px solid rgb(223, 223, 223) !important;
                        padding-top: 10px;
                        margin-top: 10px;
                        text-align: center;
                        .range_slide {
                            position: relative;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            border: 1px solid $main-color;
                        }
                        select {
                            width: 100%;
                        }
                        input[type=range] {
                            -webkit-appearance: none;
                            width: 100%;
                            margin: 12.65px 0;
                        }
                        input[type=range]:focus {
                            outline: none;
                        }
                        input[type=range]::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 5.7px;
                            cursor: pointer;
                            box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
                            background: rgba(119, 119, 119, 0.4);
                            border-radius: 25px;
                            border: 0.1px solid #18d501;
                        }
                        input[type=range]::-webkit-slider-thumb {
                            box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
                            border: 4.1px solid #0b8071;
                            height: 31px;
                            width: 30px;
                            border-radius: 50px;
                            background: #ffffff;
                            cursor: pointer;
                            -webkit-appearance: none;
                            margin-top: -12.75px;
                        }
                        input[type=range]:focus::-webkit-slider-runnable-track {
                            background: rgba(132, 132, 132, 0.4);
                        }
                        input[type=range]::-moz-range-track {
                            width: 100%;
                            height: 5.7px;
                            cursor: pointer;
                            box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
                            background: rgba(119, 119, 119, 0.4);
                            border-radius: 25px;
                            border: 0.1px solid #18d501;
                        }
                        input[type=range]::-moz-range-thumb {
                            box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
                            border: 4.1px solid #0b8071;
                            height: 31px;
                            width: 30px;
                            border-radius: 50px;
                            background: #ffffff;
                            cursor: pointer;
                        }
                        input[type=range]::-ms-track {
                            width: 100%;
                            height: 5.7px;
                            cursor: pointer;
                            background: transparent;
                            border-color: transparent;
                            color: transparent;
                        }
                        input[type=range]::-ms-fill-lower {
                            background: rgba(106, 106, 106, 0.4);
                            border: 0.1px solid #18d501;
                            border-radius: 50px;
                            box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
                        }
                        input[type=range]::-ms-fill-upper {
                            background: rgba(119, 119, 119, 0.4);
                            border: 0.1px solid #18d501;
                            border-radius: 50px;
                            box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
                        }
                        input[type=range]::-ms-thumb {
                            box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
                            border: 4.1px solid #0b8071;
                            height: 31px;
                            width: 30px;
                            border-radius: 50px;
                            background: #ffffff;
                            cursor: pointer;
                            height: 5.7px;
                        }
                        input[type=range]:focus::-ms-fill-lower {
                            background: rgba(119, 119, 119, 0.4);
                        }
                        input[type=range]:focus::-ms-fill-upper {
                            background: rgba(132, 132, 132, 0.4);
                        }
                    }
                }
            }
        }
        .accomadation_col2 {
            flex: 3;
            margin-left: 15px !important;
            margin-top: 10px;
            &_container {
                background-color: $bg-color;
                .accomadation_head {
                    padding: 15px;
                    &_title {
                        font-size: 1.5em;
                    }
                }
                .accomadation_col2_contant {
                    padding: 15px;
                    .accomadation_row {
                        display: flex;
                        flex-wrap: wrap;
                        .acc_col_4 {
                            flex: 24% !important;
                            margin-left: 15px;
                            .acc_fulimg_card_link {
                                height: 250px;
                                color: white;
                                text-decoration: none;
                                &_div {
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 250px;
                                    border-radius: 10px;
                                    margin-bottom: 15px;
                                    .ful_img_text {
                                        position: relative;
                                        z-index: 10;
                                        top: 150px !important;
                                        padding: 20px;
                                        .acc_where {
                                            font-size: 1.2em;
                                            font-weight: bold;
                                            position: relative;
                                        }
                                        .type_acc {
                                            position: relative;
                                        }
                                        .country_acc {
                                            position: relative;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}