$main-color:#0b8071;
$bg-color: #f7f7f7;
.container {
    .driver_detail_container {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        .driver_detail_slider {
            padding-left: 15px;
            padding-right: 15px;
        }
        width: 100%;
        background-color: $bg-color;
        border-radius: 5px;
        .guide_row {
            display: flex;
            flex-wrap: wrap;
            padding-left: 15px;
            padding-right: 15px;
            .guide_col_12 {
                flex: 100%;
                .guide_card {
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #d6d6d6;
                    .guide_card_image {
                        flex: 1;
                        width: 130px;
                        height: 130px;
                        margin-right: -85px;
                        .guide_card_image_img {
                            width: 130px;
                            height: 130px;
                            object-fit: cover;
                        }
                    }
                    &_info {
                        flex: 3;
                        position: relative;
                        top: -20px;
                        &_name {
                            font-size: 20px;
                            color: black;
                            margin-top: 20px;
                            font-weight: bold;
                            margin-bottom: 10px;
                        }
                        &_time {
                            color: black;
                            margin-bottom: 5px;
                        }
                        &_lang {
                            color: black;
                            margin-bottom: 5px;
                        }
                        &_icons {
                            .busy {
                                background-color: #b73838;
                                border-radius: 2px;
                                border: 0;
                                color: white;
                                width: 50px;
                            }
                            .avaible {
                                background-color: #38b77b;
                                border-radius: 2px;
                                border: 0;
                                color: white;
                                width: 90px;
                            }
                            .icon_img {
                                position: relative;
                                top: 5px;
                            }
                        }
                    }
                    &_hirebuttons {
                        flex: 1;
                        &_btn {
                            .btnguide {
                                display: block;
                                text-align: center;
                                margin-top: 10px;
                                color: black;
                                padding: 5px;
                                margin-bottom: 10px;
                                border-radius: 4px;
                                border: 1px solid $main-color;
                            }
                            .activeguide {
                                background-color: $main-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .swiper-container {
            width: 100%;
            height: 100%;
            .driver_details_cars_header {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .driver_details_cars_inside_next_prev {
                    width: 85px;
                    position: relative;
                    .swiper-button-next {
                        width: 30px;
                        height: 30px;
                        background: white;
                        &::after {
                            content: url("../../img/cars_modal/next.svg");
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 25px;
                        }
                    }
                    .swiper-button-prev {
                        width: 30px;
                        height: 30px;
                        background: white;
                        &::after {
                            content: url("../../img/cars_modal/prev.svg");
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 25px;
                        }
                    }
                }
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .driver_car_slider_size {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .table_container {
            padding-left: 15px;
            padding-right: 15px;
            .table {
                align-items: center;
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                tr {
                    border: 1px solid #c7c7c7;
                    th {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #666 !important;
                    }
                    td {
                        text-align: center;
                        padding-top: 10px;
                        border: 1px solid #c7c7c7;
                        padding-bottom: 10px;
                        width: auto;
                        color: #666 !important;
                    }
                }
                .buttontable {
                    margin-left: 45%;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 50%;
                    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
                }
                .activetable {
                    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
                    /* Unicode character for "minus" sign (-) */
                }
                .routeinfo {
                    .route_info_head {
                        h1 {
                            font-size: 25px;
                            padding-top: 20px;
                            font-weight: bold;
                        }
                    }
                    .route_info_textarea {
                        width: 100%;
                        textarea {
                            width: 98% !important;
                            height: 90px;
                            background-color: $bg-color;
                            border: 0;
                        }
                    }
                }
                .routeinfo:hover {
                    background-color: #ccc;
                    .route_info_textarea {
                        width: 100%;
                        textarea {
                            height: 90px;
                            background-color: #ccc;
                        }
                    }
                }
            }
        }
    }
}

textarea:focus {
    outline: 0 !important;
}

@media(max-width:1290px) {
    .container {
        .driver_detail_container {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            .driver_detail_slider {
                padding-left: 15px;
                padding-right: 15px;
            }
            width: 100%;
            background-color: $bg-color;
            border-radius: 5px;
            .guide_row {
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-right: 15px;
                .guide_col_12 {
                    flex: 100%;
                    .guide_card {
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #d6d6d6;
                        .guide_card_image {
                            flex: 1;
                            width: 130px;
                            height: 130px;
                            margin-right: -10px;
                            .guide_card_image_img {
                                width: 130px;
                                height: 130px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:946px) {
    .container {
        .driver_detail_container {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            .driver_detail_slider {
                padding-left: 15px;
                padding-right: 15px;
            }
            width: 100%;
            background-color: $bg-color;
            border-radius: 5px;
            .guide_row {
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-right: 15px;
                .guide_col_12 {
                    flex: 100%;
                    .guide_card {
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #d6d6d6;
                        .guide_card_image {
                            flex: 1;
                            width: 130px;
                            height: 130px;
                            margin-right: 10px;
                            .guide_card_image_img {
                                width: 130px;
                                height: 130px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:946px) {
    .container {
        .driver_detail_container {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            .driver_detail_slider {
                padding-left: 15px;
                padding-right: 15px;
            }
            width: 100%;
            background-color: $bg-color;
            border-radius: 5px;
            .guide_row {
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-right: 15px;
                .guide_col_12 {
                    flex: 100%;
                    .guide_card {
                        display: flex;
                        flex-direction: column;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 2px solid #d6d6d6;
                        .guide_card_image {
                            flex: 1;
                            width: 100%;
                            margin-right: 10px;
                            .guide_card_image_img {
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}