$main-color:#0b8071;
$bg-color: #f7f7f7;
.container {
    .code_add {
        width: 100%;
        text-align: center;
        background-color: $main-color;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.flight_container {
    width: 100%;
    .flight_containerbg {
        background-color: $bg-color;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        .flight_row {
            display: flex;
            flex-wrap: wrap;
            .col-6 {
                margin-top: 10px !important;
                flex: 50% !important;
                .flight_card {
                    width: 95%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #c5c4c4;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    .flight_airname {
                        flex: 1;
                        font-size: 1.2em;
                        font-weight: lighter;
                        color: gray;
                        position: relative;
                        top: 15px;
                        margin-left: 20px;
                    }
                    .flight_img {
                        flex: 0.5;
                        width: 100px;
                        height: 60px;
                        object-fit: cover;
                        margin-left: 15px !important;
                    }
                    div {
                        flex: 0.5;
                        .flight_button {
                            display: block;
                            background: #0b8071;
                            border: 1px solid #0b8071;
                            border-radius: 3px;
                            font-size: 16px;
                            width: 80%;
                            padding: 3px;
                            margin-left: -10px;
                            margin-top: 15px;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:800px) {
    .flight_container {
        .flight_containerbg {
            .flight_row {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
    }
}

@media(max-width:448px) {
    .flight_container {
        width: 100%;
        .flight_containerbg {
            background-color: $bg-color;
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            .flight_row {
                .col-6 {
                    .flight_card {
                        width: 95%;
                        margin: 0 auto;
                        display: block;
                        border: 1px solid #c5c4c4;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        flex-direction: column;
                        .flight_div {
                            width: 100%;
                            display: block;
                            margin: 0 auto;
                            text-align: center;
                        }
                        .flight_airname {
                            font-size: 1.2em;
                            font-weight: lighter;
                            color: gray;
                            position: relative;
                            top: 15px;
                            display: block;
                            margin-left: 0 auto;
                        }
                        .flight_img {
                            flex: 0.5;
                            width: 100px;
                            height: 60px;
                            object-fit: cover;
                            margin-left: 0px !important;
                        }
                        div {
                            flex: 0.5;
                            .flight_button {
                                display: block;
                                background: #0b8071;
                                border: 1px solid #0b8071;
                                border-radius: 3px;
                                font-size: 16px;
                                width: 98%;
                                padding: 3px;
                                margin-left: 0px;
                                margin-top: 25px;
                                font-weight: 700;
                                text-align: center;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}