<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../libs/swiper/swiper.css">
    <link rel="stylesheet" href="../../style/css/main.css">
    <link rel="stylesheet" href="../../style/css/reset.css">
    <title>Document</title>
</head>

<body>

    <div class="startYourJourney">
        <div class="journeyHead">
            <h1>Start your Journey</h1>
        </div>
        <div class="journeyBottom">
            <ul>
                <li class="journeyItem">
                    <select>
                        <option>
                            Country
                        </option>
                        <option>
                            Azerbaijan
                        </option>
                        <option>
                            France
                        </option>
                    </select>
                </li>
                <li class="journeyItem">
                    <input placeholder="City" autocomplete="off" type="text">
                </li>
                <li class="journeyItem">
                    <input autocomplete="off" type="date" id="journey_date">
                </li>
                <li class="journeyItem">
                    <button>Search</button>
                </li>
            </ul>
        </div>
    </div>


    <script src="../../libs/swiper/swiper.js"></script>
    <script src="../../js/big_slider.js"></script>

</body>

</html>