<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/css/reset.css">
    <link rel="stylesheet" href="../../style/css/main.css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <title>Document</title>
</head>

<body>
    <div class="acc_contain">
        <div class="container">
            <div class="acc_main_thumb">
                <img class="acc_main_thumbimg" src="https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-thumb.jpg" alt="">
            </div>
            <div class="acc_bottom_thumbs">
                <div class="accimg_div">
                    <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                        class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                </div>
                <div class="accimg_div">
                    <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                        class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                </div>
                <div class="accimg_div">
                    <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                        class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                </div>
                <div class="accimg_div">
                    <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                        class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                </div>
            </div>
            <div class="acc_bottom_features">
                <h2>Features</h2>
                <div class="features_container">
                    <div class="features_container_element">
                        <i class="fas fa-2x fa-hotel"></i>
                        <h2>Rooms: 2</h2>
                    </div>
                    <div class="features_container_element">
                        <i class="fas fa-2x fa-users"></i>
                        <h2>Rooms: 2</h2>
                    </div>
                    <div class="features_container_element">
                        <i class="fas fa-2x fa-moon"></i>
                        <h2>Rooms: 2</h2>
                    </div>
                </div>
            </div>
            <div class="acc_additional">
                <h2>Additional Information</h2>
                <p>Just 15 minutes from the Maiden Tower, a 5-star hotel on Nizami street, which is one of the central streets of the city.Restaurants are located frequently in this area so you will find meals that appeals to taste buds.With its own terrace,
                    bar and restaurant with savorous food, the hotel offers you a perfect service.Theatrum hotel will be an indivisible part of the most favorable holiday for you and your family.</p>
            </div>
            <div class="acc_contact">
                <h2>Contact</h2>
                <p>Email: <a href="mailto: test@gmail.com">test@gmail.com</a></p>
                <p>Phone: <a href="tel: +123456789">+123456789</a></p>
                <p>Fax: <a href="tel: +123456789">+123456789</p>
                    <p>Address: Abbas Sharifzadeh street 24/7, AZ1143</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="../../libs/magiczoom/magiczoomplus.js"></script>
    <script src="../../js/big_slider.js"></script>
</body>

</html>