<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./libs/swiper/swiper.css" type="text/css" />
    <link rel="stylesheet" media="all" href="../../style/css/main.css" type="text/css">
    <link rel="stylesheet" media="all" href="../../style/css/reset.css" type="text/css">
    <link href="../../libs/select2/select2.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="accomadation_container">
            <div class="accomadation_col1">
                <div class="accomadation_filter">
                    <label class="accomadation_filter_label" for="otel">
                        <input type="radio" name="filter" id="otel">Otel
                    </label>
                    <label class="accomadation_filter_label" for="menzil">
                        <input type="radio" name="filter" id="menzil">Mənzillər
                    </label>
                </div>
                <div class="accomadation_search">
                    <div class="accomadation_search_header">
                        <div class="acc_head_search">Search</div>
                        <a class="acc_head_sifir" href="#">Sıfırlayın</a>
                    </div>
                    <div class="accomadation_search_content">
                        <div id="accomadation_search_content_header1" class="accomadation_search_content_header">
                            <div>Otaga gore</div>
                            <a href="#">+</a>
                        </div>
                        <div id="accomadation_search_content_bottom1" class="accomadation_search_content_bottom">
                            <select aria-placeholder="Room" required multiple='multiple' class="country-selector ">
                                <option >1</option>
                                <option value="AL">1</option>
                               <option value="WY">2</option>
                          </select>
                        </div>
                    </div>
                    <div class="accomadation_search_content">
                        <div id="accomadation_search_content_header2" class="accomadation_search_content_header">
                            <div>Qiymətə görə</div>
                            <a href="#">+</a>
                        </div>
                        <div id="accomadation_search_content_bottom2" class="accomadation_search_content_bottom">
                            <form action="">
                                <div align='center'>
                                    <p>
                                        <input type="text" id="amount" style="border:0; color:#0b8071; background-color: transparent; font-weight:bold;">
                                    </p>

                                    <div id="slider-range"></div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="accomadation_col2">
                <div class="accomadation_col2_container">
                    <div class="accomadation_head">
                        <h1 class="accomadation_head_title">Məskənlər (13)</h1>
                    </div>
                    <div class="accomadation_col2_contant">
                        <div class="accomadation_row">
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="acc_col_4">
                                <a class="acc_fulimg_card_link" href="#">
                                    <div class="acc_fulimg_card_link_div" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-thumb.jpg);">
                                        <div class="ful_img_text">
                                            <h5 class="acc_where">Theatre</h5>
                                            <h6 class="type_acc">Oteller</h6>
                                            <h6 class="country_acc">Azerbaijan Baku</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../libs/swiper/swiper.js"></script>
    <script src="../../js/big_slider.js"></script>
    <script src="../../js//atractive_places_slider.js"></script>
    <script src="../../js/driverSlider.js"></script>
    <script src="../../js/partners.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/topNav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="../../js/multiform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/search_selectbox.js"></script>
    <script src="../../libs/select2/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../js/range_slider.js"></script>

    <script src="../../js/toggle_menus.js"></script>
</body>

</html>