<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./libs/swiper/swiper.css" type="text/css" />
    <link rel="stylesheet" media="all" href="../../style/css/main.css" type="text/css">
    <link rel="stylesheet" media="all" href="../../style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <link href="../../libs/select2/select2.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="atractive_detail_single_container">
            <div class="atractive_detail_single_col1">
                <div class="atractive_detail_single_imgmain">
                    <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                </div>
                <div class="atractive_detail_single_img_container">
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                    <div class="atractive_detail_single_img">
                        <a id="Zoom-1" class="MagicZoom" href="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-zoom-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" data-image-2x="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80"
                            class="MagicZoom" id="zoom" data-options="zoomMode: off; zoomOn: click"><img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&w=1000&q=80" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="atractive_detail_single_col2">
                <div class="atractive_detail_name">
                    <h1 class="atractive_detail_name_h1">Boulvar</h1>
                    <button class="actractive_detail_infobtn ">Ictimai Yer</button>
                </div>
                <div class="atractive_detail_map">
                    <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <div class="atractive_detail_info">
                    <h2>Additional info</h2>
                    <p>Built in 1909, Boulevard is one of the most beautiful and sightseeing places in Baku. The moment you set foot on Boulevard - which is 3 km 700 meters long - its unique aroma will take your breath away. You relax in the restaurants
                        where the amusement attractions are located. The view from the 2nd largest Boulevard of Europe on the sea will amaze you. You will also encounter music fountains that have no analogues in the world.</p>
                </div>

                <div class="attractive_detail_contaxt">
                    <h2>Contact</h2>
                    <p>Email: <a href="mailto: test@gmail.com">test@gmail.com</a></p>
                    <p>Phone: <a href="tel: test@gmail.com">+123456789</a></p>
                    <p>Fax: +123456789 </p>
                    <p>Address:Baku</p>
                </div>
            </div>
        </div>

    </div>

    <script src="../../libs/swiper/swiper.js"></script>
    <script src="../../js/big_slider.js"></script>
    <script src="../../js//atractive_places_slider.js"></script>
    <script src="../../js/driverSlider.js"></script>
    <script src="../../js/partners.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/topNav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="../../js/multiform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/search_selectbox.js"></script>
    <script src="../../libs/select2/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../js/range_slider.js"></script>
    <script src="../../libs/magiczoom/magiczoomplus.js"></script>
    <script src="../../js/toggle_menus.js"></script>
</body>

</html>