<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./libs/swiper/swiper.css" type="text/css" />
    <link rel="stylesheet" media="all" href="../../style/css/main.css" type="text/css">
    <link rel="stylesheet" media="all" href="../../style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <link href="../../libs/select2/select2.css" rel="stylesheet" />
    <title>Document</title>
</head>


<body>

    <div class="contact_us_container">
        <div class="container">
            <div class="contact_us_header">
                <h1>Sizdən eşitmək istərdik.</h1>
            </div>
            <form>
                <div class="contact_us_content">
                    <div class="contact_us_input_area1">
                        <div class="contact_us_input_div">
                            <span>Ad</span>
                            <input class="contact_us_input" placeholder="Name" type="text">
                        </div>
                        <div class="contact_us_input_div">
                            <span>Email</span>
                            <input class="contact_us_input" placeholder="Email" type="email">
                        </div>
                        <div class="contact_us_input_div">
                            <span>Company</span>
                            <input class="contact_us_input" placeholder="Company" type="text">
                        </div>
                    </div>
                    <div class="contact_us_input_area2">
                        <div class="contact_us_input_div">
                            <span>Company</span>
                            <textarea class="contact_us_textarea"></textarea>
                        </div>
                    </div>

                </div>
                <div class="contact_us_input_button">
                    <button type="submit">Send</button>
                </div>
            </form>

            <div class="contact_us_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412505.2712427151!2d-115.45519761572709!3d36.12522845546416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas%20Vegas%2C%20Nevada%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2s!4v1584610157845!5m2!1str!2s"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>

</body>
<script src="../../libs/swiper/swiper.js"></script>
<script src="../../js/big_slider.js"></script>
<script src="../../js//atractive_places_slider.js"></script>
<script src="../../js/driverSlider.js"></script>
<script src="../../js/partners.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/topNav.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<script src="../../js/multiform.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/search_selectbox.js"></script>
<script src="../../libs/select2/select2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../js/range_slider.js"></script>
<script src="../../libs/magiczoom/magiczoomplus.js"></script>
<script src="../../js/toggle_menus.js"></script>
</body>

</html>