<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/css/main.css">
    <link rel="stylesheet" href="../../style/css/reset.css">
    <link rel="stylesheet" href="../../libs/swiper/swiper.css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <div class="driver_profile_container">
            <div class="driver_profile_col1">
                <div class="profile_navigator">
                    <ul class="profile_nav_ul">
                        <li><a class="profile_nav_link" href="#tab1">Personal info</a></li>
                        <li><a class="profile_nav_link " href="#tab2">Car</a></li>
                        <li><a class="profile_nav_link" href="#tab3">Rides Table</a></li>
                        <li><a class="profile_nav_link" href="#tab4">Routes</a></li>
                        <li><a class="profile_nav_link" href="#tab5">Packages</a></li>
                        <li><a class="profile_nav_link" href="#tab6">Comments</a></li>
                    </ul>
                </div>
            </div>
            <div class="driver_profile_col2">
                <div class="driverProfile_card">
                    <div class="driverProfile_card_img">
                        <img src="../../img/popular_location/rectangle2.jpg" alt="">
                    </div>
                    <div class="driverProfile_card_name">
                        <h1>Vilayat Muslumzada</h1>
                        <p>User since date (12.12.19- 120 days)</p>
                    </div>
                </div>

                <div class="drivers_input_area">
                    <form id='tab1' class="tab_content">
                        <div class="inputs">
                            <label for="name">Company Name</label>
                            <input autocomplete="off" id="name" type="text" placeholder="Your Company Name">
                        </div>
                        <div class="inputs">
                            <label for="name">Age Name</label>
                            <input autocomplete="off" id="name" type="text" placeholder="Your Company Name">
                        </div>
                        <label class="required" for="">
                            Add language
                        </label>
                        <div class="custom-selectbox w-trash">
                            <select>
                                    <option value="0">All languages</option>
                                    <option value="1">English</option>
                                    <option value="2">Russian</option>
                                </select>
                            <div class="trash">
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>

                        <div class="add_lang">
                            <i class="fas fa-plus"></i>
                            <p>add language</p>
                        </div>
                        <div class="save">
                            <button class="save-btn">Save changes</button>
                        </div>
                    </form>
                    <form id='tab2' class="tab_content">
                        <div class="inputs">

                            <div class="custom-selectbox">
                                <label class="required" for="">
                                    Add language
                                </label>
                                <select>
                                    <option value="0">All languages</option>
                                    <option value="1">English</option>
                                    <option value="2">Russian</option>
                                </select>
                            </div>

                        </div>

                        <div class="inputs">
                            <label class="required" for="">
                                Add language
                            </label>
                            <div class="custom-selectbox">
                                <select>
                                    <option value="0">All languages</option>
                                    <option value="1">English</option>
                                    <option value="2">Russian</option>
                                </select>
                            </div>

                        </div>

                        <div class="inputs">

                            <div class="custom-selectbox">
                                <label class="required" for="">
                                    Add language
                                </label>
                                <select>
                                    <option value="0">All languages</option>
                                    <option value="1">English</option>
                                    <option value="2">Russian</option>
                                </select>
                            </div>

                        </div>
                        <div class='file-input'>
                            <label for="file">
                                <span class='button'><img src="../../img/profile/upload.svg" alt=""></span>
                                <span class='label' data-js-label>upload image</label>
                            <input id="file" autocomplete="off" type='file'>
                            </label>


                        </div>

                        <div class="save">
                            <button class="save-btn">Save changes</button>
                        </div>
                    </form>


                    <form id="tab3" class="tab_content">
                        <div class="inputs">
                            <label for="tourist_name">Tourist name</label>
                            <input autocomplete="off" id="tourist_name" type="text" placeholder="Tourist name">
                        </div>
                        <p>Journey</p>
                        <div class="journey">
                            <div class="inputs">
                                <label for="price">Price</label>
                                <input autocomplete="off" id="price" type="text" placeholder="580$">
                            </div>
                            <div class="inputs">
                                <label for="start">Start date</label>
                                <input autocomplete="off" type="date" placeholder="Date">
                            </div>
                            <div class="inputs">
                                <label for="End">End date</label>
                                <input autocomplete="off" type="date" placeholder="Date">
                            </div>
                        </div>
                        <div class="save">
                            <button class="save-btn">Save changes</button>
                        </div>
                    </form>




                    <form id="tab4" class="tab_content">
                        <p class="heading">Add new route</p>
                        <div class="new_route">
                            <div class="inputs">
                                <label for="">From</label>
                                <div class="custom-selectbox ">
                                    <select>
                                        <option value="0">All languages</option>
                                        <option value="1">English</option>
                                        <option value="2">Russian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputs">
                                <label for="">To</label>
                                <div class="custom-selectbox ">
                                    <select>
                                        <option value="0">All languages</option>
                                        <option value="1">English</option>
                                        <option value="2">Russian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputs cost">
                                <label for="">Route Cost</label>
                                <p>100$</p>
                            </div>
                        </div>
                        <p class="heading">All routes</p>
                        <div class="all_routes details">
                            <div class="thead">
                                <ul>
                                    <li>FROM</li>
                                    <li>TO</li>
                                    <li>COST</li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="line"></div>
                            <div class="tbody">
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li class="icons">
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>

                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </form>

                    <form id="tab5" class="tab_content">
                        <div class="inputs">
                            <label for="name">Package Name</label>
                            <input autocomplete="off" id="name" type="text" placeholder="Your Package Name">
                        </div>
                        <div class="inputs">
                            <label for="name">Package Price</label>
                            <input autocomplete="off" id="name" type="text" placeholder="Your Package price">
                        </div>
                        <p class="heading">Add new route</p>
                        <div class="new_route">
                            <div class="inputs">
                                <label for="">From</label>
                                <div class="custom-selectbox ">
                                    <select>
                                        <option value="0">All languages</option>
                                        <option value="1">English</option>
                                        <option value="2">Russian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputs">
                                <label for="">To</label>
                                <div class="custom-selectbox ">
                                    <select>
                                        <option value="0">All languages</option>
                                        <option value="1">English</option>
                                        <option value="2">Russian</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputs cost">
                                <label for="">Route Cost</label>
                                <p>100$</p>
                            </div>
                        </div>
                        <p class="heading">All routes</p>
                        <div class="all_routes details">
                            <div class="thead">
                                <ul>
                                    <li>FROM</li>
                                    <li>TO</li>
                                    <li>COST</li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="line"></div>
                            <div class="tbody">
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li class="icons">
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>

                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Baku</li>
                                    <li>Nakhcivan</li>
                                    <li>300$</li>
                                    <li>
                                        <i class="fas fa-pencil-alt"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </form>


                    <form id="tab6" class="tab_content">
                        <div class="driver_detail_comment_card">
                            <div class="driver_detail_comment_card_img">
                                <img src="../../img/profile/rectangle.jpg" alt="">
                            </div>
                            <div class="driver_detail_comment_content">
                                <h4>John Doe</h4>
                                <div class="stars">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <span>19 June 2019</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugit culpa soluta odio unde tenetur in provident veritatis asperiores, id voluptatibus iusto temporibus, nulla ipsa, dolores inventore hic laboriosam magnam?</p>

                            </div>
                        </div>
                        <div class="driver_detail_comment_card">
                            <div class="driver_detail_comment_card_img">
                                <img src="../../img/profile/rectangle.jpg" alt="">
                            </div>
                            <div class="driver_detail_comment_content">
                                <h4>John Doe</h4>
                                <div class="stars">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <span>19 June 2019</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugit culpa soluta odio unde tenetur in provident veritatis asperiores, id voluptatibus iusto temporibus, nulla ipsa, dolores inventore hic laboriosam magnam?</p>

                            </div>
                        </div>
                        <div class="driver_detail_comment_card">
                            <div class="driver_detail_comment_card_img">
                                <img src="../../img/profile/rectangle.jpg" alt="">
                            </div>
                            <div class="driver_detail_comment_content">
                                <h4>John Doe</h4>
                                <div class="stars">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <img src="../../img/profile/star.svg" alt="">
                                    <span>19 June 2019</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum fugit culpa soluta odio unde tenetur in provident veritatis asperiores, id voluptatibus iusto temporibus, nulla ipsa, dolores inventore hic laboriosam magnam?</p>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

<script src="../../js/tabs.js"></script>

</html>