<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/main.css">
</head>

<body>
    <div class="container">
        <div class="code_add">
            Hal-hazırda dəyərli müştərilərimiz üçün gələcəkdə təqdimat kodlarının olması üçün tərəfdaşlarımızla işləyirik
        </div>
    </div>
    <div class="flight_container">
        <div class="container flight_containerbg">
            <div class="row flight_row">
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://www.freepnglogos.com/uploads/turkish-airlines-logos-png-1.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flight_card">
                        <img class="flight_img" src="https://pluspng.com/img-png/emirates-png-qatar-airways-logo-400.png" alt="">
                        <a class="flight_button" href="#">Bilet al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="pagination_cover">
            <div class="pagination">
                <a class="pagination_item" href="#">Prev</a>
                <a class="pagination_item" href="#">1</a>
                <a class="pagination_item" href="#">2</a>
                <a class="pagination_item" href="#">Next</a>
            </div>
        </div>

    </div>
</body>

</html>