<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/reset.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="hirecard_container">
            <div class="hire_card">
                <div class="div_img_hire">
                    <img src="img//driver_price/rectangle.png" alt="">
                </div>
                <div class="hire_card_content">
                    <h2>Alexandre Paiva</h2>
                    <p>190 times ride</p>
                    <p>Honda pilot</p>
                    <div class="btns">
                        <button class="avaible">Avaible</button>
                        <img src="img/guides_drivers/group-4.svg" alt="">
                        <img src="img/guides_drivers/user.svg" alt="">
                    </div>
                </div>
                <div class="hire_date">
                    <label>
                        <span>Start date</span>
                        <input style="width:200px" type="date">
                    </label>
                    <label>
                        <span>End date</span>
                        <input style="width:200px" type="date">
                    </label>
                </div>
                <div class="hire_detail_section">
                    <img src="img/guides_drivers/star.svg" alt="">
                    <img src="img/guides_drivers/star.svg" alt="">
                    <img src="img/guides_drivers/star.svg" alt="">
                    <img src="img/guides_drivers/star.svg" alt="">
                    <img src="img/guides_drivers/star.svg" alt="">
                    <span>(23)</span>
                    <a class="btnguide activeguide" href="#">Detail</a>
                </div>
            </div>



            <div class="select_price">
                <div class="select_price_btns">
                    <button class="btn btn_manually">Route manually</button>
                    <button class="btn btn_fixed">Fixed price</button>
                </div>
                <div class="select_price_title">
                    <ul>
                        <li>Date</li>
                        <li>From</li>
                        <li>Time</li>
                        <li>To</li>
                        <li>Info</li>
                        <li>Route Cost</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</body>

</html>