<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/main.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="login_box">
            <div class="login_box_title">
                <h1>Login</h1>
            </div>
            <form method="post">
                <div class="login_box_content">
                    <div class="login_input_container">
                        <p class="login_input_container_title">İstifadəçi Adı:</p>
                        <div class="input_login_box">
                            <input type="email" class="login_input" placeholder="Email">
                        </div>
                    </div>
                    <div class="login_input_container">
                        <p class="login_input_container_title password_login_title">Password:</p>
                        <div class="input_login_box">
                            <i class="fa fa-eye"> </i>
                            <input type="password" class="login_input" placeholder="Password">
                        </div>
                    </div>
                    <div class="forget_password_box">
                        <div class="forget_password_box_checkbox">
                            <input type="checkbox"><span>Yadda Saxla</span>
                        </div>
                        <div class="forget_password_box_forget">
                            <a href="#">Forget Password</a>
                        </div>
                    </div>
                    <button class="login_button_bottom" type="submit">Login</button>
                    <div class="centered_register">
                        <a href="register.html">Do you have account? Log in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
</body>

</html>