<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/main.css">
</head>

<body>

    <section id="mursheed_app">
        <div class="container">
            <div class="mursheed_app_inside">
                <div class="mursheed_app_left">
                    <h6>Download the Mursheed App</h6>
                    <p>Upload your own Mursheed application to your smartphone and discover just how easy booking a car can be. With this application, you can booking a car quickly.</p>
                    <a href=""><img src="./img/mursheed_app/apple_store.svg" alt=""></a>
                    <a href=""><img src="./img/mursheed_app/google_play.svg" alt=""></a>
                </div>
                <div class="mursheed_app_right">
                    <img src="./img/mursheed_app/as.png" alt="">
                </div>
            </div>
        </div>
    </section>

</body>

</html>