<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./libs/swiper/swiper.css" type="text/css" />
    <link rel="stylesheet" media="all" href="../../style/css/main.css" type="text/css">
    <link rel="stylesheet" media="all" href="../../style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <title>Support</title>
    <style>

    </style>
</head>

<body>
    <div class="support_container">
        <div class="container">
            <div class="support_header">
                <div class="support_header_title">
                    <h1 class="header_support_h1">
                        Xoş gəldiniz Onlayn Dəstəkimizlə
                    </h1>
                    <h5 class="header_support_h5">
                        24/7 xidmətinizdəyik
                    </h5>
                </div>
                <div class="support_header_title_box">
                    <a class="support_card_link" href="#">
                        <div class="support_card blue">
                            <i class="fas fa-user "></i>
                            <h2>İstifadəçi Təlimatı</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, ipsa autem ducimus iusto sit ex. Ad tempora aspernatur facere dicta obcaecati</p>
                        </div>
                    </a>
                </div>
                <div class="support_header_title_box">
                    <a class="support_card_link" href="#">
                        <div class="support_card purple ">
                            <i class="fas fa-question-circle"></i>
                            <h2>İstifadəçi Təlimatı</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, ipsa autem ducimus iusto sit ex. Ad tempora aspernatur facere dicta obcaecati</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>


        <div class="container faq_container">
            <h4>FAQ</h4>
            <button class="accordion">Section 1</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <button class="accordion">Section 2</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <button class="accordion">Section 3</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>

    </div>

    <script src="../../libs/swiper/swiper.js"></script>
    <script src="../../js/big_slider.js"></script>
    <script src="../../js//atractive_places_slider.js"></script>
    <script src="../../js/driverSlider.js"></script>
    <script src="../../js/partners.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/topNav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="../../js/multiform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/search_selectbox.js"></script>
    <script src="../../libs/select2/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../js/range_slider.js"></script>
    <script src="../../libs/magiczoom/magiczoomplus.js"></script>
    <script src="../../js/toggle_menus.js"></script>
    <script src="../../js/accordionmenu.js"></script>
</body>


</html>