<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="./libs/swiper/swiper.css" type="text/css" />
    <link rel="stylesheet" media="all" href="../../style/css/main.css" type="text/css">
    <link rel="stylesheet" media="all" href="../../style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../../libs/magiczoom/magiczoomplus.css">
    <title>Document</title>
</head>

<body>

    <section id="swiper_popular_attractions_locations">
        <!-- Popular Attractions Locations -->
        <div class="container">
            <div class="swiper_popular_attractions_locations_top">
                <h6>Most visited places</h6>
                <a href="all-attractive-locs.html">View all</a>
            </div>
            <div class="swiper_popular_attractions_locations_bottom">
                <div class="swiper_popular_attractions_locations_bottom_center">
                    <!-- Swiper most_popular_drivers -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="attractive_single.html">
                                    <div class="popular_attractions_locations_bottom_item pb-4">
                                        <img src="./img/swiper_popular_attractions_locations/rectangle1.jpg" alt="">
                                        <p class="popular_attractions_locations_name">Gabaland Park</p>
                                        <p>Azerbaijan, Baku</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="attractive_single.html">
                                    <div class="popular_attractions_locations_bottom_item pb-4">
                                        <img src="./img/swiper_popular_attractions_locations/rectangle2.jpg" alt="">
                                        <p class="popular_attractions_locations_name">Barcelona Park</p>
                                        <p>Spain, Barcelona</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="attractive_single.html">
                                    <div class="popular_attractions_locations_bottom_item pb-4">
                                        <img src="./img/swiper_popular_attractions_locations/rectangle3.jpg" alt="">
                                        <p class="popular_attractions_locations_name">Quezon City</p>
                                        <p>Georgia, Tbilisi</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="attractive_single.html">
                                    <div class="popular_attractions_locations_bottom_item pb-4">
                                        <img src="./img/swiper_popular_attractions_locations/rectangle4.jpg" alt="">
                                        <p class="popular_attractions_locations_name">Cincinnati</p>
                                        <p>Hong Kong, Macau</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="../../libs/swiper/swiper.js"></script>
    <script src="../../js/big_slider.js"></script>
    <script src="../../js//atractive_places_slider.js"></script>
    <script src="../../js/driverSlider.js"></script>
    <script src="../../js/partners.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/topNav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="../../js/multiform.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/search_selectbox.js"></script>
    <script src="../../libs/select2/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../js/range_slider.js"></script>
    <script src="../../libs/magiczoom/magiczoomplus.js"></script>
    <script src="../../js/toggle_menus.js"></script>
</body>

</html>