$main-color:#0b8071;
$bg-color: #f7f7f7;
.bottomNav {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $bg-color;
    width: 100%;
    .container {
        .navcontainer {
            .bottomnav_item {
                margin-right: 20px;
                font-size: 1.2em !important;
                font-weight: 600;
                transition: 500ms;
                text-decoration: none;
                color: black;
                &:hover {
                    color: $main-color;
                }
            }
            .bottomnav_item.active {
                color: $main-color;
            }
        }
    }
}

@media(max-width:900px) {
    .bottomNav {
        display: none !important;
    }
}