$main-color:#0b8071;
$bg-color: #f7f7f7;
.container {
    .code_add {
        width: 100%;
        text-align: center;
        background-color: $main-color;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.flight_container {
    width: 100%;
    .flight_containerbg {
        background-color: $bg-color;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        .flight_row {
            display: flex;
            flex-wrap: wrap;
            .col-6 {
                margin-top: 10px !important;
                flex: 50% !important;
                .flight_card {
                    width: 95%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #777;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .flight_img {
                        width: 140px;
                        height: 60px;
                        object-fit: cover;
                        margin-left: 15px !important;
                    }
                    .flight_button {
                        padding: 1px 15px;
                        background-color: $main-color;
                        display: inline;
                        height: 23px;
                        width: 70px;
                        color: rgb(26, 19, 19);
                        text-align: center;
                        margin-top: 15px;
                        color: white;
                        font-size: 1em;
                        margin-right: 10px !important;
                    }
                }
            }
        }
    }
}

.pagination_cover {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    .pagination {
        display: flex;
        justify-content: flex-end;
        &_item {
            color: black;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-left: 0.2px solid $bg-color;
            font-size: 0.8em;
            background-color: $bg-color;
        }
    }
}