$main-color:#0b8071;
$bg-color: #f7f7f7;
footer {
    padding: 50px 0;
    background-color: #222222;
    .wrapper {
        .row {
            color: #C7C7C7;
            display: flex;
            flex-direction: row;
            .header-text {
                font-size: 1.1em;
                font-weight: bold;
            }
            a {
                color: #C7C7C7;
                text-decoration: none;
            }
            .col-2 {
                flex: 2;
                margin-bottom: 2em !important;
            }
            .col-3 {
                flex: 3;
                margin-left: 15px;
                text-align: right;
                .send {
                    margin-top: 15px;
                    margin-top: 10px;
                    display: flex;
                    width: 100%;
                    input {
                        width: 80%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border: solid 1px #dfdfdf;
                        background-color: #ffffff;
                        padding: 7px;
                    }
                    button {
                        width: 20%;
                        padding: 7px 10px;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        background-color: #0b8071;
                        border: $main-color;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.col-12 {
    .social-icons {
        margin-top: 10px !important;
        .head {
            .head_h2 {
                font-weight: bold;
                color: #C7C7C7;
                font-size: 1.2em;
                position: relative;
                top: -20px;
            }
        }
        width: 100%;
        display: flex;
        ul {
            li {
                float: left;
                margin-right: 10px;
            }
        }
    }
}

@media(max-width:900px) {
    footer {
        text-align: center !important;
        .logo {
            img {
                width: 100% !important;
            }
        }
        .row {
            display: flex;
            flex-direction: column !important;
            width: 100%;
            .col-3 {
                width: 100%;
                flex: 100% !important;
            }
        }
        .col-12 {
            .social-icons {
                margin-top: 10px !important;
                .head {
                    .head_h2 {
                        font-weight: bold;
                        color: #C7C7C7;
                        font-size: 1em;
                        position: relative;
                        top: -7px;
                    }
                }
                width: 100%;
                display: flex;
                ul {
                    li {
                        font-size: 0.8em !important;
                    }
                }
            }
        }
    }
}