.container .guide_container {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .guide_container .control2 {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.container .guide_container .control2 input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.container .guide_container .control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}

.container .guide_container .control2:hover input ~ .control_indicator,
.container .guide_container .control2 input:focus ~ .control_indicator {
  background: #cccccc;
}

.container .guide_container .control2 input:checked ~ .control_indicator {
  background: #0b8071;
}

.container .guide_container .control:hover input:not([disabled]):checked ~ .control_indicator,
.container .guide_container .control2 input:checked:focus ~ .control_indicator {
  background: #0b8071;
}

.container .guide_container .control2 input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.container .guide_container .control_indicator:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.container .guide_container .control2 input:checked ~ .control_indicator:after {
  display: block;
}

.container .guide_container .control-radio .control_indicator {
  border-radius: 50%;
}

.container .guide_container .control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.container .guide_container .control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}

.container .guide_container .control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@-webkit-keyframes s-ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.01;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes s-ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.01;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes s-ripple-dup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container .guide_container .control-radio input + .control_indicator::before {
  -webkit-animation: s-ripple 250ms ease-out;
          animation: s-ripple 250ms ease-out;
}

.container .guide_container .control-radio input:checked + .control_indicator::before {
  -webkit-animation-name: s-ripple-dup;
          animation-name: s-ripple-dup;
}

.container .guide_container .control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.container .guide_container .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.container .guide_container .control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.container .guide_container .control:hover input ~ .control_indicator,
.container .guide_container .control input:focus ~ .control_indicator {
  background: #cccccc;
}

.container .guide_container .control input:checked ~ .control_indicator {
  background: #0b8071;
}

.container .guide_container .control:hover input:not([disabled]):checked ~ .control_indicator,
.container .guide_container .control input:checked:focus ~ .control_indicator {
  background: #0b8071;
}

.container .guide_container .control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.container .guide_container .control_indicator:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.container .guide_container .control input:checked ~ .control_indicator:after {
  display: block;
}

.container .guide_container .control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .guide_container .control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.container .guide_container .control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #0b8071;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@keyframes s-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container .guide_container .control-checkbox input + .control_indicator::before {
  -webkit-animation: s-ripple 250ms ease-out;
          animation: s-ripple 250ms ease-out;
}

.container .guide_container .control-checkbox input:checked + .control_indicator::before {
  -webkit-animation-name: s-ripple-dup;
          animation-name: s-ripple-dup;
}

.container .guide_container .guide_col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .guide_container .guide_col1 .guide_filter {
  border-radius: 10px;
  border: 1px solid #0b8071;
  padding: 15px;
  margin-bottom: 15px !important;
}

.container .guide_container .guide_col1 .guide_filter_label {
  display: block;
}

.container .guide_container .guide_col1 .guide_search {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.container .guide_container .guide_col1 .guide_search_header {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #dfdfdf !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .guide_container .guide_col1 .guide_search_header .gui_head_search {
  font-size: 1.2em;
}

.container .guide_container .guide_col1 .guide_search_header .gui_head_sifir {
  color: #0b8071;
}

.container .guide_container .guide_col1 .guide_search_content {
  padding: 15px;
}

.container .guide_container .guide_col1 .guide_search_content_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .guide_container .guide_col1 .guide_search_content_bottom {
  border-top: 2px solid #dfdfdf !important;
  padding-top: 10px;
  margin-top: 10px;
}

.container .guide_container .guide_col1 .guide_search_content_bottom .range_slide {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #0b8071;
}

.container .guide_container .guide_col1 .guide_search_content_bottom select {
  width: 100%;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.65px 0;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]:focus {
  outline: none;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.7px;
  cursor: pointer;
  -webkit-box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
          box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: rgba(119, 119, 119, 0.4);
  border-radius: 25px;
  border: 0.1px solid #18d501;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
          box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
  border: 4.1px solid #0b8071;
  height: 31px;
  width: 30px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.75px;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(132, 132, 132, 0.4);
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.7px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  background: rgba(119, 119, 119, 0.4);
  border-radius: 25px;
  border: 0.1px solid #18d501;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
  border: 4.1px solid #0b8071;
  height: 31px;
  width: 30px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-ms-track {
  width: 100%;
  height: 5.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-ms-fill-lower {
  background: rgba(106, 106, 106, 0.4);
  border: 0.1px solid #18d501;
  border-radius: 50px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-ms-fill-upper {
  background: rgba(119, 119, 119, 0.4);
  border: 0.1px solid #18d501;
  border-radius: 50px;
  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1.6px #0b8071, 0px 0px 0px #0d9786;
  border: 4.1px solid #0b8071;
  height: 31px;
  width: 30px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 5.7px;
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]:focus::-ms-fill-lower {
  background: rgba(119, 119, 119, 0.4);
}

.container .guide_container .guide_col1 .guide_search_content_bottom input[type=range]:focus::-ms-fill-upper {
  background: rgba(132, 132, 132, 0.4);
}

.container .guide_container .guide_col2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 15px !important;
  margin-top: 10px;
}

.container .guide_container .guide_col2_container {
  background-color: #f7f7f7;
}

.container .guide_container .guide_col2_container .guide_head {
  padding: 15px;
}

.container .guide_container .guide_col2_container .guide_head_title {
  font-size: 1.5em;
}

.container .guide_container .guide_col2_container .guide_col2_contant {
  padding: 15px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d6d6d6;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 140px;
  height: 140px;
  margin-right: 15px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image .guide_card_image_img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
  top: -20px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_name {
  font-size: 1.6em;
  color: black;
  margin-top: 20px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_time {
  color: black;
  margin-bottom: 5px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_lang {
  color: black;
  margin-bottom: 10px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_icons {
  margin-top: 20px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_icons .busy {
  background-color: #b73838;
  border-radius: 2px;
  border: 0;
  color: white;
  width: 50px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_icons .avaible {
  background-color: #38b77b;
  border-radius: 2px;
  border: 0;
  color: white;
  width: 90px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_info_icons .icon_img {
  position: relative;
  top: 5px;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_hirebuttons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_hirebuttons_btn .btnguide {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #0b8071;
}

.container .guide_container .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card_hirebuttons_btn .activeguide {
  background-color: #0b8071;
  color: white;
}

@media (max-width: 740px) {
  .guide_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide_container .guide_col2 {
    margin-left: 0 !important;
    width: 100%;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image {
    width: 100%;
    height: 500px;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image .guide_card_image_img {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 460px) {
  .guide_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide_container .guide_col2 {
    margin-left: 0 !important;
    width: 100%;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image {
    width: 100%;
    height: 300px;
  }
  .guide_container .guide_col2 .guide_col2_container .guide_col2_contant .guide_row .guide_col_12 .guide_card .guide_card_image .guide_card_image_img {
    width: 100%;
    height: 300px;
  }
}
/*# sourceMappingURL=guidesanddrivers.css.map */