#swiper_our_offers_partners {
  text-align: center;
  margin: 30px 0px;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top h6 {
  font-family: Averta;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_top a {
  color: black;
  text-decoration: none;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center {
  width: 90%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container {
  width: 100%;
  height: 100%;
  position: static;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item {
  margin: 1px;
  border-radius: 3px;
  text-align: left;
  position: relative;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item img {
  width: 100%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom {
  position: absolute;
  bottom: 0;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom .swiper_our_offers_partners_name {
  margin-left: 12px;
  font-family: Averta;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-wrapper .swiper-slide .swiper_our_offers_partners_bottom_item .item_position_bottom p {
  margin-left: 12px;
  font-family: Averta;
  font-size: 13px;
  margin-bottom: 4px;
  color: white;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-next::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/right.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev {
  top: 50%;
}

#swiper_our_offers_partners .swiper_our_offers_partners_bottom .swiper_our_offers_partners_bottom_center .swiper-container .swiper-button-prev::after {
  content: "";
  background-image: url("../img/swiper_our_offers_partners/left.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  #swiper_our_offers_partners h6 {
    font-size: 18px !important;
  }
  #swiper_our_offers_partners .swiper-button-next {
    right: -15px !important;
  }
  #swiper_our_offers_partners .swiper-button-prev {
    left: -15px !important;
  }
}
/*# sourceMappingURL=partners.css.map */