.container .driver_profile_container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .driver_profile_container .driver_profile_col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul li {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #d1d1d1;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul li a {
  color: gray;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul li:hover {
  color: #0b8071;
  border-right: 3px solid #0b8071;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul li:hover a {
  color: #0b8071;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul .activeprofile {
  color: #0b8071 !important;
  border-right: 3px solid #0b8071;
  display: block;
}

.container .driver_profile_container .driver_profile_col1 .profile_navigator .profile_nav_ul .activeprofile a {
  color: #0b8071;
}

.container .driver_profile_container .driver_profile_col2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card .driver_detail_comment_card_img {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card .driver_detail_comment_card_img img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card .driver_detail_comment_content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card .driver_detail_comment_content h4 {
  margin-bottom: -5px;
}

.container .driver_profile_container .driver_profile_col2 .driver_detail_comment_card .driver_detail_comment_content .stars span {
  font-size: 0.8em;
}

.container .driver_profile_container .driver_profile_col2 .driverProfile_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .driver_profile_container .driver_profile_col2 .driverProfile_card_img {
  width: 150px;
  height: 150px;
  margin-right: 15px !important;
}

.container .driver_profile_container .driver_profile_col2 .driverProfile_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area {
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 5px;
  margin-top: 15px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .inputs {
  width: 100%;
  margin-bottom: 35px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .inputs label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .inputs input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  background-color: #f7f7f7;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .w-trash {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .w-trash select {
  width: 100% !important;
  border-radius: 5px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .w-trash .trash {
  width: 10%;
  border: 1px solid #c6c7c7;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  color: gray;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .add_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #c6c7c7;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #0b8071;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .add_lang p {
  margin-left: 15px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .save {
  width: 100%;
  text-align: right;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .save button {
  width: 150px;
  height: 30px;
  background-color: #0b8071;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .new_route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .new_route .inputs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .new_route .inputs:last-child {
  text-align: center;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes {
  padding: 15px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .thead {
  width: 100%;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .thead ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .thead ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .tbody ul {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .tbody ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .all_routes .line {
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .file-input {
  cursor: pointer;
  text-align: center;
  border: 1px solid #c6c7c7;
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b8071;
  margin-bottom: 15px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .file-input .button {
  margin-top: -10px !important;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .file-input input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .journey {
  border: 1px solid #c6c7c7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .custom-selectbox label {
  font-weight: bold !important;
}

.container .driver_profile_container .driver_profile_col2 .drivers_input_area form .custom-selectbox select {
  border-radius: 5px;
  width: 101%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #f7f7f7;
  font-size: 1em;
  color: gray;
}
/*# sourceMappingURL=profile_driver.css.map */