.chosingmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.chosingmain .boxgray {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding-top: 4em;
  padding-bottom: 4em;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chosingmain .boxgray .register_chose {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
  padding-bottom: 0.5em;
}

.chosingmain .boxgray .register_chose .selectregister {
  border: 1px solid #969696;
  margin-right: 10px;
  border-radius: 5px;
  width: 100px;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
}

.chosingmain .boxgray .register_chose .selectregister:last-child {
  background-color: rgba(0, 0, 0, 0.5);
}

.chosingmain .boxgray .register_chose .selectregister:hover {
  border-color: #0b8071 !important;
}

.chosingmain .boxgray .register_chose .selectregister:hover a svg {
  fill: #0b8071;
}

.chosingmain .boxgray .register_chose .selectregister a {
  text-decoration: none;
  word-wrap: break-word;
  color: black;
}

.chosingmain .boxgray .register_chose .selectregister a svg {
  fill: gray;
  -webkit-transition: 1s ease-in-out !important;
  transition: 1s ease-in-out !important;
}

.chosingmain .boxgray .register_chose .selectregister a .blockedsvg {
  fill: black;
}

.chosingmain .boxgray .register_chose .selectregister a .blockedsvg :hover {
  fill: black;
}

.chosingmain .boxgray .register_chose .selectregister a h2 {
  word-wrap: break-word;
}

.chosingmain .boxgray .register_chose .selectregister.active {
  border: 1px solid #0b8071;
}

.chosingmain .boxgray .regchose_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.chosingmain .boxgray .regchose_button a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 540px;
  padding: 10px;
  background-color: #0b8071;
  border-radius: 5px;
  margin-left: -10px;
}

.chosingmain .boxgray .regchose_button .item a {
  text-decoration: none;
  color: black;
  display: inline;
  padding: 0;
  margin-left: 10px;
  background-color: transparent;
}

.chosingmain .boxgray .regchose_button .item a img {
  fill: green;
}

@media (max-width: 769px) {
  .chosingmain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .chosingmain .boxgray {
    width: 100%;
  }
  .chosingmain .boxgray .register_chose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .chosingmain .boxgray .register_chose .selectregister {
    width: auto !important;
    padding: 10px;
    text-align: center;
    display: block;
    border: 1px solid #969696;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .chosingmain .boxgray .register_chose .selectregister a {
    text-decoration: none;
    color: black;
  }
  .chosingmain .boxgray .regchose_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .chosingmain .boxgray .regchose_button a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 620px;
    padding: 10px;
    background-color: #0b8071;
    border-radius: 5px;
  }
  .chosingmain .boxgray .regchose_button .item a {
    text-decoration: none;
    color: black;
    display: inline;
    padding: 0;
    background-color: transparent;
  }
}
/*# sourceMappingURL=register_chosing.css.map */