@import '../../fonts/averta/stylesheet.css';
* {
    font-family: Averta !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Averta';
    font-size: 16px;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn {
    width: 10em;
    padding: 10px;
    border: 0px;
    font-size: 1em;
    font-weight: bolder;
}

.container {
    width: 82%;
    margin: 0 auto;
    padding: 0 !important;
}
@media(max-width:600px){
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 0 !important;
    }
}

input {
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: -5px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}

.fullContainer {
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.6em;
    height: 120px;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background-color: #ccc
}

body::-webkit-scrollbar-thumb {
    border: 1px solid#034d43;
    background-color: #ccc;
    border-radius: 15px;
}

a {
    text-decoration: none;
}