<!-- footer  -->
<footer>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-2">
                    <div class="social">
                        <div class="logo">
                            <a href="index.html"><img src="../img/footer/logo-dark.svg" alt=""></a>
                        </div>
                        <div class="description">
                            <p>Mursheed helps you to have an unforgettable experience anywhere you travel to. </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <p class="header-text">Site map</p>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="">Guides & Drivers</a></li>
                        <li><a href="offers.html">Offers</a></li>
                        <li><a href="support.html">Support</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="header-text">More</p>
                    <ul>
                        <li><a href="terms_conditions.html">Terms & conditions</a></li>
                        <li><a href="privacypolicy.html">Privacy policy</a></li>
                        <li><a href="">Cookies</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="contact">
                        <p class="header-text">Contact us</p>
                        <ul>
                            <li><a href="">info@mursheed.com</a></li>
                            <li><a href="">+994 50 808 08 01</a></li>
                        </ul>
                        <p class="header-text">Subscribe</p>
                        <div class="send pt-2">
                            <input autocomplete="off" placeholder="your email address" type="text">
                            <button><img src="../img/footer/send.svg" alt=""></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="social-icons ">
                    <ul>
                        <li class="head">
                            <h2 class="head_h2">Follow Us</h2>
                        </li>
                        <li><a href=""><i style="color:#C7C7C7; " class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i style="color:#C7C7C7; " class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i style="color:#C7C7C7;" class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i style="color:#C7C7C7; " class="fab fa-linkedin-in"></i></li>
                            <li><a href=""><i style="color:#C7C7C7; " class="fab fa-whatsapp"></i></a></li>
                        <li><a href=""><i style="color:#C7C7C7; " class="fab fa-snapchat-ghost"></i></a></li>
                        <li><a href=""><i style="color:#C7C7C7;" class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<script src="../libs/main/js/_all_js_lib_files/all_js_lib_files.js"></script>

<script src="../js/minify/accordionmenu.js"></script>
<script src="../js/minify/atractive_places_slider.js"></script>
<script src="../js/minify/big_slider.js"></script>
<script src="../js/minify/centerNav.js"></script>
<script src="../js/minify/driver_detail.js"></script>
<script src="../js/minify/driverSlider.js"></script>
<script src="../js/minify/main.js"></script>
<script src="../js/minify/multiform.js"></script>
<script src="../js/minify/partners.js"></script>
<script src="../js/minify/popupimg.js"></script>
<script src="../js/minify/range_slider.js"></script>
<script src="../js/minify/search_selectbox.js"></script>
<script src="../js/minify/tabs.js"></script>
<script src="../js/minify/toggle_menus.js"></script>
<script src="../js/minify/topNav.js"></script>