<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->

    <link rel="stylesheet" href="../style/css/minified_css/main.css">
    <link rel="stylesheet" href="../style/css/minified_css/reset.css">
    <link rel="stylesheet" href="../libs/main/css/_all_css_lib_files/all_css_lib_files.css">
    <title>Murheed</title>
</head>

<body>

    <div class="topNav">
        <div class="container">
            <div class="topnavcontainer">
                <div class="firstcontainer">
                    <div class="currency">
                        <form>
                            <select>
                        <option class="optioncurrency">USD</option>
                        <option class="optioncurrency">AZN</option>
                            </select>
                        </form>
                    </div>
                    <div class="language">
                        <form>
                            <select>
                        <option class="optionlang">Azerbaijan</option>
                        <option class="optionlang">English</option>
                    </select>
                        </form>
                    </div>
                </div>
                <div class="secondcontainer">
                    <div class="support">
                        <a class="supportItem" href="support.html">Support</a>
                        <a class="supportItem" href="contact.html">Contact Us</a>
                    </div>
                    <div id="dropLogBtn" class="profile" style="background-image: url(img/profile/user.jpg)">
                        <div id="loggedid">
                            <a class="loggediditem" href="#">Login</a>
                            <a class="loggediditem" href="register_chosing.html">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- center nav  -->

    <div class="centerNav">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="../img/header/logo.svg" alt="">
                </a>
            </div>
            <div class="rightContent">
                <div class="currency">
                    <span class="currencyText">Currency</span>
                    <form>
                        <select>
                            <option class="optioncurrency">USD</option>
                            <option class="optioncurrency">AZN</option>
                        </select>
                    </form>
                </div>
                <div class="language">
                    <span class="langText">Language</span>
                    <form>
                        <select>
                            <option class="optionlang">Azerbaijan</option>
                            <option class="optionlang">English</option>
                        </select>
                    </form>
                </div>
                <div class="loginbuttons">
                    <a href='login.html' class="loginbtn btn">Login</button>
                    <a href="register.html" class="registerbtn btn">Register</a>
                </div>
                <div id="hamburger" class="barIcon">
                    <p class="line"></p>
                    <p class="line"></p>
                    <p class="line"></p>
                </div>
            </div>

        </div>
        <div id="openmenu" class="container menucontainer">
            <div class="openmenu">
                <a class="openmenu_item" href="#">Home</a>
                <a class="openmenu_item" href="about.html">About</a>
                <a class="openmenu_item" href="guide_and_drivers.html">Guides & Drivers</a>
                <a class="openmenu_item" href="accomadation.html">Accomadation</a>
                <a class="openmenu_item" href="flight.html">Flight Reservation</a>
                <a class="openmenu_item" href="attractive_locations.html">Attractive Places</a>
                <a class="openmenu_item" href="offers.html">Offers</a>
                <a class="openmenu_item" href="#">Support</a>
                <a class="openmenu_item" href="contact.html">Contact</a>
            </div>
        </div>
    </div>


    <!-- Bottom nav  -->
    <div class="bottomNav">
        <div class="container">
            <div class="navcontainer">
                <a class="bottomnav_item active" href="#">Home</a>
                <a class="bottomnav_item " href="about.html">About</a>
                <a class="bottomnav_item " href="guide_and_drivers.html">Guides & Drivers</a>
                <a class="bottomnav_item " href="accomadation.html">Accomadation</a>
                <a class="bottomnav_item " href="flight.html">Flight Reservation</a>
                <a class="bottomnav_item " href="attractive_locations.html">Attractive Places</a>
                <a class="bottomnav_item " href="offers.html">Offers</a>
            </div>
        </div>
    </div>